{{extend 'layout.html'}}

<script>
    URL.addIdea = "{{=URL('default','add_idea')}}";
    URL.getNewIdeas = "{{=URL('default','new_ideas')}}";
</script>

<div class="container">

    <div class="row top-buffer">
        <div class="col-md-8">
            <h3>Give ideas to address the following problem</h3>
            <p>
                Imagine you are in a social setting and you've forgotten the name of someone you know. How might you recall their name without
                directly asking them? Be as specific as possible in your descriptions.
            </p>
        </div>
        <div class="col-md-4">
            <div class="row">
                <textarea id="idea-input"></textarea>
            </div>
            <div class="row top-buffer">
                <button class="btn btn-primary" id="idea-submit">Post Idea</button>
            </div>
        </div>
    </div>
    
    <div class="row top-buffer">
        {{if userCondition == 3:}}
            <div class="col-md-12"> <!-- Only show when condition == c3 -->
                <h3>Idea Clusters</h3>
                <div id="clusters">
                    
                </div>
            </div>
        {{else:}}
            <div class="{{= 'col-md-6' if userCondition == 2 else 'col-md-12' }}"> <!-- class="col-md-12" if condition == c1 -->
                <h3>Your Ideas</h3>
                <ul class="list-group" id="user-ideas">
                    <!-- dynamic list -->
                    <li class="list-group-item" id="no-user-idea">
                        <h3>No ideas have been submitted yet!</h3>
                        <p>Use the form above to submit an idea</p>
                    </li>
                </ul>
            </div>
            {{if userCondition == 2:}}
            <div class="col-md-6"> <!-- only visible if C == c2 -->
                <h3>Everyone Else's Ideas</h3>
                <ul class="list-group"  id="group-ideas">
                    <!-- dynamic list -->
                    <li class="list-group-item" id="no-group-idea">
                        <h3>No ideas have been submitted yet!</h3>
                        <p>When someone else submits an idea, it will appear here</p>
                    </li>
                </ul>
            </div>
            {{pass}}
        {{pass}}
    </div>

</div>