<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CrowdMuse</title>

    <link href="https://fonts.googleapis.com/css?family=Concert+One|Lato" rel="stylesheet">
    <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap3.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/idea-clusters.css')}}"/>
    <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

    {{include 'web2py_ajax.html'}}
    <script type="text/javascript" src="{{=URL('static','js/jquery.validate.min.js')}}"></script>
</head>
<body class="welcome">

    <div id="welcome">
        <h1 class="logo">Crowd<span>Muse</span></h1>

        <div class="sessionPanel">
            <h3>Create a new brainstorm session!</h3>
            <form id="newSession" class="newSession" action="{{=URL('default','create_problem')}}">
                <ul>
                    <li><label for="title">Title:</label> <input type="text" name="title" id="title" required maxlength="{{=validation['short_string_max']}}" placeholder="Write a short title for your session"> </li>
                    <li>
                        <label for="description">Description</label>
                        <textarea name="description" id="description" cols="30" rows="10" placeholder="Describe what people should generate ideas towards" required maxlength="{{=validation['text_max']}}"></textarea>
                    </li>
                    <li>
                        <input type="checkbox" name="public" id="public"> <label for="public">Make this session public</label>
                        <a class="btn floatRight submit" onclick="createNewProblem();">Create session</a>
                    </li>
                </ul>
            </form>
            <p class="toggleSessionPanel"><a>View available public sessions</a></p>
        </div>
        
        <div class="sessionPanel" style="display: none">
            <h3>Listed brainstorming sessions:</h3>
            <ul class="clickable">
                {{for p in problems:}}
                    <li>
                        <a href="{{=URL('default','?problem=' + p.url_id)}}">{{=p.title}}</a>
                    </li>
                {{pass}}
            </ul>
            <p class="toggleSessionPanel"><a>Create a new session</a></p>
        </div>
    </div>
    
    <script>
        var createNewProblem = function(){
            var form = $('#newSession');
            if(form.valid()){
                // Get data and submit
                form.submit();
            }
        };

        var panels = $('.toggleSessionPanel a').click(function(){
            var hidden = $('.sessionPanel:hidden');
            $('.sessionPanel:visible').fadeOut('fast', function(){
                hidden.fadeIn('fast');
            });
        });
    </script>
</body>
</html>