{{extend 'layout.html'}}
<script type="text/javascript" src="{{=URL('static','js/system.js')}}"></script>
<script type="text/javascript" src="{{=URL('static','js/goldenlayout.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static','js/golden-layout-config.js')}}"></script>

<link type="text/css" rel="stylesheet" href="{{=URL('static','css/goldenlayout-base.css')}}" />
<link type="text/css" rel="stylesheet" href="{{=URL('static','css/goldenlayout-light-theme.css')}}" />

<script>
    var URL = {};
    var ENV = {};
</script>

<div id="layoutContainer">
	
</div>


