{{extend 'layout.html'}}

{{block page_js}}
	
	<!-- Load JS libraries -->
	<script type="text/javascript" src="{{=URL('static','js/jquery-ui.min.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/goldenlayout.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/mustache.min.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/d3.v4.min.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/jquery.tagsinput.min.js')}}"></script>

	<!-- Load JS custom code -->
	<script type="text/javascript" src="{{=URL('static','js/golden-layout-config.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/classes.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/view.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/ideaviewer-view.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/tasks-view.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/versioning-view.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/solutionspace-view.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/util.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/system.js')}}"></script>
	
	<!-- Load styles -->
	<link type="text/css" rel="stylesheet" href="{{=URL('static','css/goldenlayout-base.css')}}" />
	<link type="text/css" rel="stylesheet" href="{{=URL('static','css/goldenlayout-light-theme.css')}}" />
	<link type="text/css" rel="stylesheet" href="{{=URL('static','css/visualizations.css')}}" />
	<link type="text/css" rel="stylesheet" href="{{=URL('static','css/jquery-ui.min.css')}}" />
	<link type="text/css" rel="stylesheet" href="{{=URL('static','css/jquery.tagsinput.min.css')}}" />

	<script>
		// Set up globals
	    var URL = { // URLs
	    	addIdea: "{{=URL('system','add_idea')}}",
	    	getUserIdeas: "{{=URL('system','get_ideas')}}",
	    	getAllIdeas: "{{=URL('system','get_all_ideas')}}",
	    	getVersioningStructure: "{{=URL('system','get_versioning_structure')}}",
	    	getIdeaById: "{{=URL('system','get_idea_by_id')}}",
			getSuggestedTasks: "{{=URL('system','get_suggested_tasks')}}",
			submitRatingTask: "{{=URL('system','submit_rating_task')}}",
			submitCategorizationTask: "{{=URL('system','submit_categorization_task')}}",
			getSolutionSpace: "{{=URL('system','get_solution_space')}}",
			getIdeasPerCategory: "{{=URL('system','get_ideas_per_tag')}}",
			getOrganizationRatio: "{{=URL('system','get_organization_ratio')}}",
			getTags: "{{=URL('system','get_tags')}}",
			getSuggestedTags: "{{=URL('system','get_suggested_tags')}}"
	    },		
	    ENV = { // Global constants
			userId: "{{=user_id}}",
			autoReloadTimer: 15, // seconds or 'OFF' to disable
			scrollDelay: 500, // Delay before a view scrolls to an idea on hover
			scrollSpeed: 200, // Speed in which the scroll happens,
			classPrefix: 'cl_',
			idPrefix: 'id_',
			autoUpdateOrganizationRatioSeconds: 30,
			numTags: 5
		},
		EVENTS = {
			popOverClose: [],
			ideaSubmitted: 'ideaSubmitted',
			taskSubmitted: 'taskSubmitted',
			highlightIdea: 'highlightIdea',
			blurIdea: 'blurIdea',
			highlightTags: 'highlightTags',
			blurTags: 'blurTags'
		},
		TEMPLATES = {}, // Mustache templates (dynamically loaded on page load)
		VIEWS = {}, // View objects
		TOOLBAR = {}; // Toolbar event handlers
	</script>

	<!-- Mustache templates -->
	<script id="ideaViewerTemplate" type="text/x-tmpl-mustache">
		<div class="toolbar">
			<ul>
				<li><a href="#" title="Reload this panel" onclick="TOOLBAR.ideaViewer.reload()">
					<img src="{{=URL('static','images/reload.png')}}">
				</a></li>
			</ul>
			<ul>
				<li><a href="#" title="Open your ideas" onclick="TOOLBAR.ideaViewer.loadUserIdeas()">
					<img src="{{=URL('static','images/user.png')}}">
				</a></li>
				<li><a href="#" title="Open all ideas" onclick="TOOLBAR.ideaViewer.loadAllIdeas()">
					<img src="{{=URL('static','images/group.png')}}">
				</a></li>
			</ul>
		</div>
		<div id="ideasContainer" class="viewContainer"></div>
	</script>

	<script id="versioningViewerTemplate" type="text/x-tmpl-mustache">
		<div class="toolbar">
			<ul>
				<li><a href="#" title="Reload this panel" onclick="TOOLBAR.versioningView.reload()">
					<img src="{{=URL('static','images/reload.png')}}">
				</a></li>
				<li><a href="#" title="Auto-reload toggle" onclick="TOOLBAR.versioningView.toggleAutoReload()">
					 <img src="{{=URL('static','images/clock.png')}}"><span id='versioningTimerDisplay'>OFF</span>
				</a></li>
			</ul>
		</div>
		<div id="versioningContainer" class="viewContainer"><svg></svg></div>
	</script>

	<script id="suggestedTasksViewerTemplate" type="text/x-tmpl-mustache">
		<div class="toolbar">
			<ul>
				<li><a href="#" title="Reload this panel" onclick="TOOLBAR.suggestedTasks.reload()">
					<img src="{{=URL('static','images/reload.png')}}">
				</a></li>
				<li><a href="#" title="Auto-reload toggle" onclick="TOOLBAR.suggestedTasks.toggleAutoReload()">
					<img src="{{=URL('static','images/clock.png')}}"><span id='tasksTimerDisplay'>OFF</span>
				</a></li>
			</ul>
		</div>
		<div id="suggestedTasksContainer" class="viewContainer">
			<ul id="suggestedTasksList">
			</ul>
		</div>
	</script>

	<script id="solutionSpaceViewerTemplate" type="text/x-tmpl-mustache">
		<div class="toolbar">
			<ul>
				<li><a href="#" title="Reload this panel" onclick="TOOLBAR.solutionSpaceView.reload()">
					<img src="{{=URL('static','images/reload.png')}}">
				</a></li>
				<li><a href="#" title="Auto-reload toggle" onclick="TOOLBAR.solutionSpaceView.toggleAutoReload()">
					<img src="{{=URL('static','images/clock.png')}}"><span id='solutionSpaceTimerDisplay'>OFF</span>
				</a></li>
			</ul>
		</div>
		<div id="solutionSpaceContainer" class="viewContainer">
		</div>
	</script>

	<script id="solutionSpaceStructureTemplate" type="text/x-tmpl-mustache">
		<div id="solutionSpaceHeader">
		</div>

		<div id="solutionSpaceLeftColumn">
		</div>

		<div id="solutionSpaceRightColumn">
		</div>

		<div id="spaceContainer">
		</div>
	</script>

	<script id="suggestTaskTemplate" type="text/x-tmpl-mustache">
		<h3>Suggest tags</h3>
		<div id="ideaPlaceholder"></div>
		<p>Suggest tags for this idea<a class="tooltip" href="#" title="Write appropriate tags for this idea">?</a></p>
		<input type="text" name="tagInput" />
		<a href="#" class="btn">Submit</a>
	</script>

	<script id="selectBestTaskTemplate" type="text/x-tmpl-mustache">
		<h3>Select the best tag</h3>
		<div id="ideaPlaceholder"></div>
		<p>Click on the <strong>one</strong> tag that you think is the most appropriate to describe this idea</p>
		<ul class="tagsList single"></ul>
		<input name="taskType" type="hidden" value="selectBest"/>
		<a href="#" class="btn">Submit</a>
	</script>

	<script id="categorizeTaskTemplate" type="text/x-tmpl-mustache">
		<h3>Select all appropriate tags</h3>
		<div id="ideaPlaceholder"></div>
		<p>Click on <strong>one or more</strong> tags that are appropriate for this idea</p>
		<ul class="tagsList multiple"></ul>
		<input name="taskType" type="hidden" value="categorize"/>
		<a href="#" class="btn">Submit</a>
	</script>

	<script id="ratingTaskTemplate" type="text/x-tmpl-mustache">
		<h3>Rating task</h3>
		<div id="ideaPlaceholder"></div>
		<h4>How original is this idea?</h4>
		<ul class="horizontal-radial">
			<li> Extremely unoriginal <input type="radio" name="originality" value="1"/> </li>
			<li> <input type="radio" name="originality" value="2"/> </li>
			<li> <input type="radio" name="originality" value="3"/> </li>
			<li> <input type="radio" name="originality" value="4"/> </li>
			<li> <input type="radio" name="originality" value="5"/> </li>
			<li> <input type="radio" name="originality" value="6"/> </li>
			<li> <input type="radio" name="originality" value="7"/> Extremely original </li>
		</ul>

		<h4>How useful is this idea?</h4>
		<ul class="horizontal-radial">
			<li> Extremely useless <input type="radio" name="usefulness" value="1"/> </li>
			<li> <input type="radio" name="usefulness" value="2"/> </li>
			<li> <input type="radio" name="usefulness" value="3"/> </li>
			<li> <input type="radio" name="usefulness" value="4"/> </li>
			<li> <input type="radio" name="usefulness" value="5"/> </li>
			<li> <input type="radio" name="usefulness" value="6"/> </li>
			<li> <input type="radio" name="usefulness" value="7"/> Extremely useful </li>
		</ul>

		<a href="#" class="btn" onclick="submitRatingTask(event)">Submit</a>
	</script>

	<script id="ideaBlockTemplate" type="text/x-tmpl-mustache">
		<p class="ideaBlock id[[id]]" id="id[[id]]" style="display:none">
			[[idea]]
			[[#closeable]]
			<a href="#" title="Close idea" class="close"></a>
			[[/closeable]]
			<span class="fade">Added by [[addedBy]]</span>
			<input type="hidden" name="ideaId" value="[[id]]"></input>
			<input type="hidden" name="ideaTags" value="[[tags]]"></input>
		</p>
	</script>

	<script id="tagsViewTemplate" type="text/x-tmpl-mustache">
		<h2>Tags view</h2>
		<p>See ideas that have the tags you selected. If you see ideas you like, drag and drop to combine or merge them.</p>

		<div class="twoCategoryIdeasList">
			<div class="cl_[[category1]]">
				<h3>[[category1]]</h3>
				<ul></ul>
			</div>

			<div class="cl_[[category2]]">
				<h3>[[category2]]</h3>
				<ul></ul>
			</div>
		</div>
	</script>

	<script id="tagTemplate" type="text/x-tmpl-mustache">
		<span class="tag"><a href="#">[[tag]]</a></span>
	</script>
{{end}}

{{block navMenu}}
	<div class="navContainer">
		<button class="btn btn-primary btn-plus" id="addIdeaButton" onclick="openIdeaPopup(event)">Add idea</button>

		<div class="navBlock">
			<img src="{{=URL('static','images/messy.png')}}" alt="Completely disorganized">
			<div class="scale" id="organizationRatio">
				<div class="filling"></div>
			</div>
			<img src="{{=URL('static','images/organized.png')}}" alt="Completely organized">
			<div class="dropDown">
				<div id="ratioAvailable">
					<p><strong>Organization level</strong>: <span id="organizationRatioPercentage"></span>%</p>
					<p>This scale shows how organized the idea space is.</p>
					<p>To improve this, do some tasks on the <strong>Suggested Tasks</strong> view.</p>
				</div>
				<div id="ratioUnavailable">
					<p>This metric can't be calculated because no ideas have been added yet. 
						Once someone adds an idea, this scale will be updated.</p>
				</div>
			</div>
		</div>
	</div>
{{end}}

{{block rightNavMenu}}
<div class="navBlock">
	<img src="{{=URL('static','images/user-navbar.png')}}" alt="{{=user_id}}"> {{=user_id}}
</div>
{{end}}

<div id="overlay">
	<div class="popupDialog" id="tagsView">
	</div>

	<div class="popupDialog" id="addIdea">
		<h2>New idea</h2>

		<div>
			<p>Please, write down your idea in the textarea below. Make sure to include as much detail as possible!</p>

			<textarea></textarea>

			<p>Suggest at least 5 tags for your idea. Try to be as precise and consistent as you can, but don't worry too much about it, as the system may improve it over time:</p>
		
			<div class="suggestedTags">
				Suggested tags (click to add): 
				<div>Suggestions will appear as you type your idea.</div>
			</div>

			<input type="text" name="tagInput" />

			<button class="btn floatRight" onclick="submitNewIdea(event)">Submit</button>
		</div>
	</div>

	<div class="popupDialog" id="combineIdeas">

		<h2>Idea Mixing</h2>

		<div class="combineIdeasShowIdeas">
			<p class="ideaBlock"><span></span></p>
			<p class="ideaBlock"><span></span></p>
		</div>

		<div class="choices">
			<p>Choose an action:</p>

			<ul>
				<li class="clickEnabled" onclick="replaceCombineIdeasOptions(event,'merge')">
					<img src="{{=URL('static','images/merge.gif')}}" class="sideImage" />
					<h3>Merge ideas</h3>
					<p>Use this when two ideas are virtually the same. This will eliminate the two ideas in favor of your merged idea.</p>
				</li>
				<li class="clickEnabled" onclick="replaceCombineIdeasOptions(event,'combine')">
					<img src="{{=URL('static','images/combine.gif')}}" class="sideImage" />
					<h3>Combine ideas</h3>
					<p>Use this to combine two different ideas into a new, original idea. This will keep the two ideas and add your new idea. </p>
				</li>
			</ul>
		</div>
		<div class="ideaInput">
			<p>Please, write down your <span class='combinationType'></span> idea in the textarea below. Make sure to include as much detail as possible!</p>

			<textarea name="combinedIdeaInput"></textarea>
			
			<p>Suggest tags for your idea. Try to be as precise and consistent as you can, but don't worry too much about it, as the system may improve it over time:</p>

			<input type="text" name="combinedTagInput" />

			<input type="hidden" name="combineTypeInput">
			<input type="hidden" name="combinedIdeaIds">

			<button class="btn floatRight" onclick="submitCombinedIdea(event)">Submit</button>
		</div>

	</div>
</div>

