{{extend 'layout.html'}}

{{block page_js}}
	
	<!-- Load JS libraries -->
	<script type="text/javascript" src="{{=URL('static','js/jquery-ui.min.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/goldenlayout.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/mustache.min.js')}}"></script>
	<script src="https://d3js.org/d3.v4.min.js"></script>

	<!-- Load JS custom code -->
	<script type="text/javascript" src="{{=URL('static','js/golden-layout-config.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/util.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/visualizations.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system.js')}}"></script>
	
	<!-- Load styles -->
	<link type="text/css" rel="stylesheet" href="{{=URL('static','css/goldenlayout-base.css')}}" />
	<link type="text/css" rel="stylesheet" href="{{=URL('static','css/goldenlayout-light-theme.css')}}" />
	<link type="text/css" rel="stylesheet" href="{{=URL('static','css/visualizations.css')}}" />
	<link type="text/css" rel="stylesheet" href="{{=URL('static','css/jquery-ui.min.css')}}" />

	<script>
	    var URL = {
	    	addIdea: "{{=URL('system','add_idea')}}",
	    	getUserIdeas: "{{=URL('system','get_user_ideas')}}",
	    	getAllIdeas: "{{=URL('system','get_all_ideas')}}",
	    	getVersioningStructure: "{{=URL('system','get_versioning_structure')}}",
	    	getIdeaById: "{{=URL('system','get_idea_by_id')}}",
			getSuggestedTasks: "{{=URL('system','get_suggested_tasks')}}",
			submitRatingTask: "{{=URL('system','submit_rating_task')}}",
			getSolutionSpace: "{{=URL('system','get_solution_space')}}"
	    };
	    var ENV = {};
	</script>

	<!-- Mustache templates -->
	<script id="ideaViewerTemplate" type="text/x-tmpl-mustache">
		<div class="toolbar">
			<ul>
				<li><a href="#" title="Reload this panel" onclick="loadUserIdeas()">
					<img src="{{=URL('static','images/reload.png')}}">
				</a></li>
			</ul>
		</div>
		<div id="ideasContainer" class="viewContainer"></div>
	</script>

	<script id="versioningViewerTemplate" type="text/x-tmpl-mustache">
		<div class="toolbar">
			<ul>
				<li><a href="#" title="Reload this panel" onclick="loadVersioningPanel()">
					<img src="{{=URL('static','images/reload.png')}}">
				</a></li>
			</ul>
		</div>
		<div id="versioningContainer" class="viewContainer"><svg></svg></div>
	</script>

	<script id="suggestedTasksViewerTemplate" type="text/x-tmpl-mustache">
		<div class="toolbar">
			<ul>
				<li><a href="#" title="Reload this panel" onclick="loadSuggestedTasks();">
					<img src="{{=URL('static','images/reload.png')}}">
				</a></li>
			</ul>
		</div>
		<div id="suggestedTasksContainer" class="viewContainer">
			<ul id="suggestedTasksList">
			</ul>
		</div>
	</script>

	<script id="solutionSpaceViewerTemplate" type="text/x-tmpl-mustache">
		<div class="toolbar">
			<ul>
				<li><a href="#" title="Reload this panel" onclick="loadSolutionSpace();">
					<img src="{{=URL('static','images/reload.png')}}">
				</a></li>
			</ul>
		</div>
		<div id="solutionSpaceContainer" class="viewContainer">
			<div id="solutionSpaceHeader">
				Header
			</div>

			<div id="solutionSpaceLeftColumn">
				Left
			</div>

			<div id="solutionSpaceRightColumn">
				Right
			</div>

			<div id="spaceContainer">
				Container
			</div>
		</div>
	</script>

	<script id="ratingTaskTemplate" type="text/x-tmpl-mustache">
		<h3>Rating task</h3>
		<div id="ideaPlaceholder"></div>
		<h4>How original is this idea?</h4>
		<ul class="horizontal-radial">
			<li> Extremely unoriginal <input type="radio" name="originality" value="1"/> </li>
			<li> <input type="radio" name="originality" value="2"/> </li>
			<li> <input type="radio" name="originality" value="3"/> </li>
			<li> <input type="radio" name="originality" value="4"/> </li>
			<li> <input type="radio" name="originality" value="5"/> </li>
			<li> <input type="radio" name="originality" value="6"/> </li>
			<li> <input type="radio" name="originality" value="7"/> Extremely original </li>
		</ul>

		<h4>How useful is this idea?</h4>
		<ul class="horizontal-radial">
			<li> Extremely useless <input type="radio" name="usefulness" value="1"/> </li>
			<li> <input type="radio" name="usefulness" value="2"/> </li>
			<li> <input type="radio" name="usefulness" value="3"/> </li>
			<li> <input type="radio" name="usefulness" value="4"/> </li>
			<li> <input type="radio" name="usefulness" value="5"/> </li>
			<li> <input type="radio" name="usefulness" value="6"/> </li>
			<li> <input type="radio" name="usefulness" value="7"/> Extremely useful </li>
		</ul>

		<a href="#" class="btn" onclick="submitRatingTask(event)">Submit</a>
	</script>

	<script id="ideaBlockTemplate" type="text/x-tmpl-mustache">
		<p class="ideaBlock id[[id]]" id="id[[id]]" style="display:none">
			[[idea]]
			[[#closeable]]
			<a href="#" title="Close idea" class="close" onclick="closeIdea('[[id]]')"></a>
			[[/closeable]]
			<span class="fade"></span>
			<input type="hidden" name="ideaId" value="[[id]]"></input>
			<input type="hidden" name="ideaCategories" value="[[categories]]"></input>
		</p>
	</script>
{{end}}

{{block navMenu}}
	<div class="navContainer">
		<button class="btn btn-primary btn-plus" id="addIdeaButton" onclick="openIdeaPopup(event)">Add idea</button>
		<div id="addIdeaPopup" class="popupDialog">
			<div>
				<p>Please, write down your idea in the textarea below. Make sure to include as much detail as possible!</p>

				<textarea></textarea>

				<p>Suggest a category for your idea. Try to be as precise and consistent as you can, but don't worry too much about it, as the system may improve it over time:</p>

				<input type="text" name="categoryinput" />

				<button class="btn floatRight" onclick="submitNewIdea(event)">Submit</button>
			</div>
		</div>
	</div>
{{end}}

<div id="overlay">
	<div class="popupDialog" id="combineIdeas">

		<h2>Idea Combination</h2>

		<div class="combineIdeasShowIdeas">
			<p class="ideaBlock"><span></span></p>
			<p class="ideaBlock"><span></span></p>
		</div>

		<div class="choices">
			<p>Choose an action:</p>

			<ul>
				<li class="clickEnabled" onclick="replaceCombineIdeasOptions(event,'merge')">
					<img src="{{=URL('static','images/ideas.png')}}" class="sideImage" />
					<h3>Merge ideas</h3>
					<p>Use this when two ideas are virtually the same. This will eliminate the two ideas in favor of your merged idea.</p>
				</li>
				<li class="clickEnabled" onclick="replaceCombineIdeasOptions(event,'combine')">
					<img src="{{=URL('static','images/ideas.png')}}" class="sideImage" />
					<h3>Combine ideas</h3>
					<p>Use this to combine two different ideas into a new, original idea. This will keep the two ideas and add your new idea. </p>
				</li>
			</ul>
		</div>
		<div class="ideaInput">
			<p>Please, write down your <span class='combinationType'></span> idea in the textarea below. Make sure to include as much detail as possible!</p>

			<textarea name="combinedIdeaInput"></textarea>
			
			<p>Suggest a category for your idea. Try to be as precise and consistent as you can, but don't worry too much about it, as the system may improve it over time:</p>

			<input type="text" name="combinedCategoryinput" />

			<input type="hidden" name="combineTypeInput">
			<input type="hidden" name="combinedIdeaIds">

			<button class="btn floatRight" onclick="submitCombinedIdea(event)">Submit</button>
		</div>

	</div>
</div>

