<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!-- Always force latest IE rendering engine
         (even in intranet) & Chrome Frame
         Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <!--  Mobile Viewport Fix
          j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
          device-width: Occupy full width of the screen in its current orientation
          initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
          user-scalable = yes allows the user to zoom in -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{=response.title}} - CrowdMuse</title>
    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="application-name" content="{{=request.application}}">

    <!-- include stylesheets -->
    <!-- TODO combine all css files below into a single, minified one -->
    <link rel="stylesheet" href="{{=URL('static','css/core/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/core/web2py-bootstrap3.css')}}"/>
    {{if settings['is_development']:}} <!-- Serve precompiled if on production -->
      <link rel="stylesheet/less" href="{{=URL('static','css/core/system.less')}}"/>
      <!-- All JavaScript at the bottom, except for LESS for processing styles before loading -->
      <script src="{{=URL('static','js/less.min.js')}}"></script>
    {{else:}}
      <link rel="stylesheet" href="{{=URL('static','css/core/system.compiled.css')}}"/>
    {{pass}}
    {{block page_styles}}{{end page_styles}}

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Concert+One|Lato" rel="stylesheet">
    
    <!-- Favicons -->
    <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

  </head>
  <body class="loading {{= 'development' if settings['is_development'] else '' }}">
    
    <!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <div class="w2p_flash alert alert-dismissable">{{=response.flash or ''}}</div>
    <!-- Navbar ======================================= -->
    <nav class="topNavbar" role="navigation">
      <div id="problem">
        <span>{{=problem.description}}</span>
      </div>
      <div class="navContainer left">
        <div class="navBlock">
          <a class="logo" href="{{=URL('default','index')}}">Crowd<span>Muse</span></a>
        </div>
      </div>

      {{block navMenu}}
      {{end}}
      
      <div class="navContainer right">
        {{block rightNavMenu}}
        {{end}}
      </div>
    </nav>
    <!-- Masthead ===================================== -->    
    {{block header}}
    {{end}}
    <!-- Main ========================================= -->
    <!-- Begin page content -->

    {{block center}}
    {{include}}
    {{end}}

    <div id="overlay">
    {{block overlay}}

    {{end}}
    </div>

    <div id="loadingOverlay">

    </div>

    {{block footer}} 
    {{end}}

    <!-- The javascript =============================== -->
    {{include 'web2py_ajax.html'}}
    <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
    <script src="{{=URL('static','js/moment.js')}}"></script>
    <script src="{{=URL('static','js/countdown.min.js')}}"></script>
    <script src="{{=URL('static','js/moment-countdown.min.js')}}"></script>
    {{block page_js}}{{end page_js}}
  </body>
</html>
