<script id="ideaBlockTemplate" type="text/x-tmpl-mustache">
    <div class="ideaBlock id[[id]]" id="id[[id]]">
        <div class="ideaBlockContainer id[[id]] [[favorite]] [[inspiration]]" style="position:absolute; top: 0; left: 0;">
            <div class="ideaBlockHeader">Drag to combine</div>
            <div class="ideaBlockText">
                [[idea]]
                <span class="fade"></span>
            </div>
            <div class="ideaBlockPopOut">
                [[#editable]]
                <a class="refineBtn">Refine</a>
                [[/editable]]
                <a class="favoriteBtn">Favorite</a>
                <!-- <a class="hideBtn">Close</a> -->
            </div>
            <input type="hidden" name="ideaId" value="[[id]]"></input>
            <input type="hidden" name="ideaTags" value="[[tags]]"></input>
        </div>
    </div>
</script>

<script id="tagsViewTemplate" type="text/x-tmpl-mustache">
    <span class="close"></span>
    <h2>Tags view</h2>
    <p>See ideas that have the tags you selected. If you see ideas you like, drag and drop to combine or merge them.</p>

    <div class="twoCategoryIdeasList">
        <div class="cl_[[category1]]">
            <h3>[[category1]]</h3>
            <ul>
                <li class="loading"><div class="loadingBadge"></div></li>
            </ul>
        </div>

        <div class="cl_[[category2]] loading">
            <h3>[[category2]]</h3>
            <ul>
                <li class="loading"><div class="loadingBadge"></div></li>
            </ul>
        </div>
    </div>
</script>

<script id="tagTemplate" type="text/x-tmpl-mustache">
    <span class="tag"><a>[[tag]]</a></span>
</script>

<script id="inspirationPopupTemplate" type="text/x-tmpl-mustache">
    <span class="close"></span>

    <h2>Get inspired <a class="help">?</a> </h2>
    <div class="helpPanel">
        <img src='{{=URL('static','images/insp-tut1.png')}}' />
        <p>
            To inspire you, we'll show you three ideas from other users
        </p>
        <img src='{{=URL('static','images/insp-tut2.png')}}' />
        <p>
            We'll also ask you to answer simple questions about them
        </p>
        <img src='{{=URL('static','images/insp-tut3.png')}}' />
        <p>
            Answering those questions can help you get more inspired, while helping us to organize the ideas better
        </p>
        <img src='{{=URL('static','images/insp-tut4.png')}}' />
        <p>
            When you submit the tasks, the ideas will appear in blue in the workspace so you can always refer back to them.
        </p>        
        <p><a id="finishInspirationTutorial">Got it!</a></p>
    </div>
    <div class="tasksPanel">
        <p>
            Look at the following ideas suggested by other users and use them as inspiration. 
            These ideas will show in the workspace when you submit them.
        </p>
        <ul id="inspirationPanel" class="loading">
            <li class="selected">
                <div class="loadingBadge"></div>
            </li>
        </ul>
        <div id="inspirationControls" class="first" style="display: none">
            <a class="arrow arrow-left previous" onclick=""></a>
            <span class="stages">0/0</span>
            <a class="arrow arrow-right next" onclick=""></a>
            <a class="btn submit" onclick="submitInspirationTask(event);">Submit</a>
        </div>
    </div>
</script>

<script id="tagPickerTemplate" type="text/x-tmpl-mustache">
    <div class="tagWrapper loading">
        <p>
            Pick <strong>at most 2 tags</strong> that best summarize your idea.<br/>
            A tag is usually one word that can be used to categorize your idea.
        </p>
        <div class="panel">
            <div class="tagPicker">
                <input type="text" class="search" placeholder="Search tags" disabled/>
                <ul class="tagsList">
                    <!-- <li class="t_example">Example</li> -->
                    <li><div class="loadingBadge">Loading tags...</div></li>
                </ul>
            </div>
        </div>
        <div class="panel suggestTags" style="display: none">
            <div>
                <input type="text" data-i="0" placeholder="tag 1" name="suggestTags" maxlength="{{=validation['short_string_max']}}"/>
                <input type="text" data-i="1" placeholder="tag 2 (opt.)" name="suggestTags" maxlength="{{=validation['short_string_max']}}" disabled/>
            </div>
        </div>
        <a class="alternative">
            <span>Write your own tags &gt;</span>
            <span style="display: none">&lt; Go back to tag picker</span>
        </a>
        <div class="placeholders">
            <div class="tagPlaceholder empty" data-i="0">
                <span class="text"></span>
                <span class="empty">tag 1</span> 
                <span class="close">x</span>
                <span class="mergedTag" title=""></span>
            </div>
            <div class="tagPlaceholder empty" data-i="1">
                <span class="text"></span>
                <span class="empty">tag 2 (opt.)</span> 
                <span class="close">x</span>
                <span class="mergedTag" title=""></span>
            </div>
            <div class="maxTagWarning">
                At most 2 tags are allowed
            </div>
        </div>
        <input type="hidden" name="tags" value="" />
    </div>
</script>

<script id="addIdeaPopupTemplate" type="text/x-tmpl-mustache">
    <span class="close"></span>
    <h2>New idea</h2>
    <p class="problemDescription">{{=problem.title}}</p>
    <form>
        <textarea name='idea' class="ideaInput" placeholder="Write one idea here" required maxlength="{{=validation['text_max']}}"></textarea>
        
        <div id="newIdeaTagPicker"></div>

        <a class="btn cornerRight submit" onclick="submitNewIdea(event);">Submit</a>
        
    </form>
</script>

<script id="combineIdeaPopupTemplate" type="text/x-tmpl-mustache">
    <span class="close"></span>
    <h2>Idea Combination</h2>
    <!-- <p class="problemDescription">{{=problem.description}}</p> -->
    <p>Combine these two ideas...</p>
    <div class="combineIdeasShowIdeas">
        <p class="ideaBlock"><span></span></p>
        <p class="ideaBlock"><span></span></p>
    </div>
    
    <div class="dynamicContent">
        <!-- <p> <a class="merge combine" onclick="replaceCombineIdeasOptions(event, 'back')">&lt; Choose a different action</a> </p> -->

        <!-- <h3 class="choose">Choose an action:</h3>
        <ul>
            <li class="clickEnabled merge choose" onclick="replaceCombineIdeasOptions(event,'merge')">
                <img src="{{=URL('static','images/merge.gif')}}" class="sideImage" />
                <h3>Merge ideas</h3>
                <p>Merge similar ideas into one. Replaces the original ideas.</p>
            </li>
            <li class="clickEnabled combine choose" onclick="replaceCombineIdeasOptions(event,'combine')">
                <img src="{{=URL('static','images/combine.gif')}}" class="sideImage" />
                <h3>Combine ideas</h3>
                <p>Combine two ideas into a new one. Keeps the original ideas.</p>
            </li>
        </ul> -->
        <form class="ideaInput merge combine">
            <p>...Into a new one: </p>

            <textarea name="combinedIdeaInput" placeholder="Write your idea in here" class="ideaInput" required maxlength="{{=validation['text_max']}}"></textarea>

            <div id="combinedTagInput"></div>

            <input type="hidden" name="combineTypeInput" value="combine">
            <input type="hidden" name="combinedIdeaIds">

            <a class="btn cornerRight" onclick="submitCombinedIdea(event)">Submit</a>
        </form>
    </div>
</script>

<script id="editIdeaPopupTemplate" type="text/x-tmpl-mustache">
    <span class="close"></span>
    <h2 class="viewElement">View Idea</h2>
    <h2 class="editElement">Refine Idea</h2>
    <p class="editElement">
        Refining an idea by adding more details, fixing issues, etc.
    </p>
    <p class="ideaText viewElement">
    </p>
    <form class="editElement">
        <textarea class="ideaInput" name='refinedIdea' placeholder="Type your idea in here" required maxlength="{{=validation['text_max']}}"></textarea>
        <input type="hidden" name="tags" />
        <input type="hidden" name="originalId" />
    </form>
    <ul class="tags">
    </ul>
    <a class="btn floatRight submit editElement" onclick="submitRefinedIdea(event)">Submit</a>
    <div class="loadingBadge"></div>
</script>

<script id="sessionConclusionTemplate" type="text/x-tmpl-mustache">
    <span class="close"></span>
    
    <h2>Almost there!</h2>
    
    <p>Thank you for your time! You're almost done with this study. The last step is to click on the "COMPLETE FORM" button below and complete the form there:</p>
    
    <a class="btn btn-primary" target="_blank" href="https://goo.gl/forms/tNZZRhBHCDWjXjwi1">
        Complete Form
    </a>
    
    <p>Just as a reminder, your CrowdMuse user ID is:</p>
    <p class="user_name">{{=user_name}}</p>
</script>