<script id="ideaBlockTemplate" type="text/x-tmpl-mustache">
    <div class="ideaBlock id[[id]]" id="id[[id]]" style="display:none">
        <div class="ideaBlockContainer id[[id]] [[favorite]]" style="position:absolute; top: 0; left: 0;">
            <div class="ideaBlockHeader">Drag to combine</div>
            <div class="ideaBlockText">
                [[idea]]
                <span class="fade"></span>
            </div>
            <div class="ideaBlockPopOut">
                [[#editable]]
                <a class="refineBtn">Refine</a>
                [[/editable]]
                <a class="favoriteBtn">Favorite</a>
                <!-- <a class="hideBtn">Close</a> -->
            </div>
            <input type="hidden" name="ideaId" value="[[id]]"></input>
            <input type="hidden" name="ideaTags" value="[[tags]]"></input>
        </div>
    </div>
</script>

<script id="tagsViewTemplate" type="text/x-tmpl-mustache">
    <span class="close"></span>
    <h2>Tags view</h2>
    <p>See ideas that have the tags you selected. If you see ideas you like, drag and drop to combine or merge them.</p>

    <div class="twoCategoryIdeasList">
        <div class="cl_[[category1]]">
            <h3>[[category1]]</h3>
            <ul>
                <li class="loading"><div class="loadingBadge"></div></li>
            </ul>
        </div>

        <div class="cl_[[category2]] loading">
            <h3>[[category2]]</h3>
            <ul>
                <li class="loading"><div class="loadingBadge"></div></li>
            </ul>
        </div>
    </div>
</script>

<script id="tagTemplate" type="text/x-tmpl-mustache">
    <span class="tag"><a>[[tag]]</a></span>
</script>

<script id="inspirationPopupTemplate" type="text/x-tmpl-mustache">
    <span class="close"></span>

    <h2>Get inspired <a class="help">?</a> </h2>
    <div class="helpPanel">
        <img src='{{=URL('static','images/insp-tut1.png')}}' />
        <p>
            To inspire you, we'll show you three ideas from other users
        </p>
        <img src='{{=URL('static','images/insp-tut2.png')}}' />
        <p>
            We'll also ask you to answer simple questions about them
        </p>
        <img src='{{=URL('static','images/insp-tut3.png')}}' />
        <p>
            Answering those questions can help you get more inspired, while helping us to organize the ideas better
        </p>
        <p><a id="finishInspirationTutorial">Got it!</a></p>
    </div>
    <div class="tasksPanel">
        <p>Look at the following ideas suggested by other users and use them as inspiration.</p>
        <ul id="inspirationPanel" class="loading">
            <li class="selected">
                <div class="loadingBadge"></div>
            </li>
        </ul>
        <div id="inspirationControls" class="first" style="display: none">
            <a class="arrow arrow-left previous" onclick=""></a>
            <span class="stages">0/0</span>
            <a class="arrow arrow-right next" onclick=""></a>
            <a class="btn submit" onclick="submitInspirationTask(event);">Submit</a>
        </div>
    </div>
</script>

<script id="tagPickerTemplate" type="text/x-tmpl-mustache">
    <div class="tagWrapper loading">
        <p>
            Pick <strong>at most 2 tags</strong> that best summarize your idea.<br/>
            A tag is usually one word that can be used to categorize your idea.
        </p>
        <div class="panel">
            <div class="tagPicker">
                <input type="text" class="search" placeholder="Search tags" disabled/>
                <ul class="tagsList">
                    <!-- <li class="t_example">Example</li> -->
                    <li><div class="loadingBadge">Loading tags...</div></li>
                </ul>
            </div>
        </div>
        <div class="panel suggestTags" style="display: none">
            <div>
                <input type="text" data-i="0" placeholder="tag 1" name="suggestTags" maxlength="{{=validation['short_string_max']}}"/>
                <input type="text" data-i="1" placeholder="tag 2 (opt.)" name="suggestTags" maxlength="{{=validation['short_string_max']}}" disabled/>
            </div>
        </div>
        <a class="alternative">
            <span>None of these tags represent your idea well?</span>
            <span style="display: none">&lt; Go back to tag picker</span>
        </a>
        <div class="placeholders">
            <div class="tagPlaceholder empty" data-i="0">
                <span class="text"></span>
                <span class="empty">tag 1</span> 
                <span class="close">x</span>
            </div>
            <div class="tagPlaceholder empty" data-i="1">
                <span class="text"></span>
                <span class="empty">tag 2 (opt.)</span> 
                <span class="close">x</span>
            </div>
        </div>
        <input type="hidden" name="tags" value="" />
    </div>
</script>

<script id="addIdeaPopupTemplate" type="text/x-tmpl-mustache">
    <span class="close"></span>
    <h2>New idea</h2>
    <p class="problemDescription">{{=problem.description}}</p>
    <form>
        <textarea name='idea' class="ideaInput" placeholder="Write one idea here" required maxlength="{{=validation['text_max']}}"></textarea>
        
        <div id="newIdeaTagPicker"></div>

        <a class="btn cornerRight submit" onclick="submitNewIdea(event);">Submit</a>
        
    </form>
</script>

<script id="combineIdeaPopupTemplate" type="text/x-tmpl-mustache">
    <span class="close"></span>
    <h2>Idea Mixing</h2>
    <p class="problemDescription">{{=problem.description}}</p>
    <div class="combineIdeasShowIdeas">
        <p class="ideaBlock"><span></span></p>
        <p class="ideaBlock"><span></span></p>
    </div>

    <div class="choices">
        <p>Choose an action:</p>
        <ul>
            <li class="clickEnabled" onclick="replaceCombineIdeasOptions(event,'merge')">
                <img src="{{=URL('static','images/merge.gif')}}" class="sideImage" />
                <h3>Merge ideas</h3>
                <p>Use this when two ideas are virtually the same. This will eliminate the two ideas in favor of your merged idea.</p>
            </li>
            <li class="clickEnabled" onclick="replaceCombineIdeasOptions(event,'combine')">
                <img src="{{=URL('static','images/combine.gif')}}" class="sideImage" />
                <h3>Combine ideas</h3>
                <p>Use this to combine two different ideas into a new, original idea. This will keep the two ideas and add your new idea. </p>
            </li>
        </ul>
    </div>
    <form class="ideaInput">
        <p> <a onclick="replaceCombineIdeasOptions(event, 'back')">&lt; Back</a> </p>
        <p>Please, write down your <span class='combinationType'></span> idea in the textarea below. Make sure to include as much detail as possible!</p>

        <textarea name="combinedIdeaInput" placeholder="Write your idea in here" class="ideaInput" required maxlength="{{=validation['text_max']}}"></textarea>

        <div id="combinedTagInput"></div>

        <input type="hidden" name="combineTypeInput">
        <input type="hidden" name="combinedIdeaIds">

        <a class="btn cornerRight" onclick="submitCombinedIdea(event)">Submit</a>
    </form>
</script>

<script id="editIdeaPopupTemplate" type="text/x-tmpl-mustache">
    <span class="close"></span>
    <h2 class="viewElement">View Idea</h2>
    <h2 class="editElement">Refine Idea</h2>
    <p class="editElement">
        Refining an idea by adding more details, fixing issues, etc.
    </p>
    <p class="ideaText viewElement">
    </p>
    <form class="editElement">
        <textarea class="ideaInput" name='refinedIdea' placeholder="Type your idea in here" required maxlength="{{=validation['text_max']}}"></textarea>
        <input type="hidden" name="tags" />
        <input type="hidden" name="originalId" />
    </form>
    <ul class="tags">
    </ul>
    <a class="btn floatRight submit editElement" onclick="submitRefinedIdea(event)">Submit</a>
    <div class="loadingBadge"></div>
</script>

<script id="sessionConclusionTemplate" type="text/x-tmpl-mustache">
    <span class="close"></span>
    
    <h2>Almost there!</h2>
    
    <p>Thank you for your time! You're almost done with this study. The last step is to click on the "COMPLETE FORM" button below and complete the form there:</p>
    
    <a class="btn btn-primary" target="_blank" href="https://goo.gl/forms/UhnuYSsTDIsn6krC2">
        Complete Form
    </a>
    
    <p>Just as a reminder, your CrowdMuse user ID is:</p>
    <p class="user_name">{{=user_name}}</p>
</script>