body,html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background: #EEE;
}

h2, h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.3em;
    font-weight: bolder;
}

h2 {
    font-size: 2em;
    font-family: 'ChunkFive';
    margin-bottom: 20px;
}

h4 {
    font-weight: bolder;
    font-size: 1em;
    margin-bottom: 10px;
}

p {
    margin: 0 0 10px 0;
}

a {
    color: #097BCF;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    color: #3AAAFC;
}

img {
    /*width: 90%;
    border: solid 3px #999;
    display: block;
    margin: 0 auto 20px auto;*/
}

ol {
    margin: 0 0 20px 0;
}

ul {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}

label {
    font-weight: normal;
}


textarea {
    width: 100%;
    height: 100px;
    border: solid 1px #CCC;
    padding: 10px;
    margin: 0 0 10px 0;
}

input[type=text] {
    border: solid 1px #CCC;
    padding: 10px;
    width: 100%;
    margin: 0 0 20px 0;
}

.logo {
    color: white;
    font-family: 'ChunkFive'; 
    font-weight: normal; 
    font-style: normal;
    font-size: 2.5em;
    line-height: 1.5em;
    display: inline-block;
    margin-right: 10px;
}

.navbar {
    position: relative;
    height: 80px;
    background: #3AAAFC;
    border-bottom: 0;
    margin-bottom: 0;
    box-shadow: inset 0 -5px 0 0 rgba(0,0,0,0.2);
}

.nav.navbar-nav.navbar-right {
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
}

#layoutContainer {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.w2p_flash {
    border: none !important;
    border-radius: 0 !important;
    right: 10px !important;
    padding: 15px !important;
}

.w2p_flash.ok {
    color: white;
    background: darkseagreen !important;
}

.w2p_flash.error {
    background: indianred !important;
    color: white !important;
}

.error {
    color: indianred;
    margin-bottom: 20px;
}

.footer {
    background: white;
    color: black;
}

.main-container {
    margin-top: 0;
}

.top-buffer {
    margin-top: 20px;
}

.bottom-buffer {
    margin-bottom: 20px;
}

.top-separator {
    border-top: solid 4px #CCC;
    padding-top: 40px;
    margin-top: 40px;
}

.bottom-separator {
    margin-bottom: 40px;
    padding-bottom: 40px !important;
    border-bottom: solid 1px #CCC;
}

#clusters {
    background: white;
    height: 400px;
}

.central {
    fill: white !important;
    stroke-width: 4px !important;
}

.list-group-item h3 {
    margin-top: 0;
}

.list-group-item {
    border: none;
    padding-left: 0;
}


table {
    font-size: 0.8em;
    word-wrap:break-word;
}

table td,
table th {
    padding: 10px;
    border: solid 1px #CCC;
}

.center {
    text-align: center;
    width: 100%;
}

#matrix-container {
    overflow: scroll;
    height: 500px;
}

#matrix {
    margin-top: 40px;
}

#matrix th {
    border: 0;
    font-weight: bolder;
    overflow: visible;
    text-align: right;
}

#matrix tr th {
    white-space: nowrap;
}

#matrix th > div {
    transform: rotate(315deg);
    width: 20px;
}

#getHint {
    margin-left: 20px;
}

.tooltip * {
    text-align: left;
    text-transform: none;
    line-height: 1.2em;
}

.tooltip {
    display: inline-block;
    position: relative;
    opacity: 1;
}

.top-row {
    background: white; 
    padding: 20px;
}

.pop-out {
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.pop-out:after {
  content:"";
  display:block;
  clear:both;
}

/*.pop-out h3:first-child {
    color: white;
    padding: 10px;
    margin: -20px -20px 20px -20px;
    font-size: 1.5em;
    font-weight: bolder;
    box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.2);
}*/

.ideation h2 { 
    border-left: solid 4px #FED25E; 
    padding-left: 10px;
}
.ideation .top-separator {
    border-top-color: #FED25E;
}

.tasks h2 { 
    border-left: solid 4px #FD542D; 
    padding-left: 10px;
}
.tasks .top-separator { 
    border-top-color: #FD542D;
}

.tasks h4 {
    margin: 20px 0 0 0;
}

.horizontal-radial {
    margin: 0 0 10px 0;
    padding: 0;
    white-space: nowrap;
}

.horizontal-radial li {
    display: inline-block;
    padding: 0 5px;
}

.btn {
    background-color: #DDD;
    color: #333;
    border-radius: 3px;
    box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.2);
    text-decoration: none;
}

.btn:hover {
    background-color: #144C80;
}

.navbar .btn-primary {
    background-color: #3093dc;
    color: white;
    margin: 0 20px;
}

.navbar .btn:hover {
    background-color: #144C80;
}

.btn-plus:active {
    background: url(../images/plus.png) no-repeat 12px center !important;
    background-size: 16px 16px !important;
    background-color: #1D62A8 !important;
    box-shadow: #163066 0 0 20px inset;
}

.btn-plus {
    background: url(../images/plus.png) no-repeat 12px center;
    padding-left: 35px;
    background-size: 16px 16px;
}

@font-face {
    font-family: 'Chunkfive';
    src: url('../fonts/ChunkFive/Chunkfive.otf'); 
    src: 
        local('Chunkfive'),
        local('Chunkfive'),
        url('../fonts/ChunkFive/Chunkfive.otf') 
        format('opentype');
}

.quote {
    font-style: italic;
    margin: 0 0 30px 0;
    padding-left: 10px;
    border-left: solid 4px #244363;
}

.hidden {
    display: none;
}

#time-over,
.attention {
    background: #C5E3BF;
    padding: 20px;
    border: solid 1px #9DBA97;
}

#time-over {
    display: none;
}

#time-over .quote {
    margin-bottom: 0;
}

.list-group li {
    border: none;
    padding-left: 0;
}

.list-group-item span {
    display: inline-block;
    background: #C8E8FF;
    margin: 0 5px;
    padding: 2px 5px;
}

div.w2p_flash.alert {
    z-index: 999999;
    top: 15px;
}

#final-id {
    margin: 20px 0 20PX 0;
}

.ideaWrapper {
    display: inline-block;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    background: #DFF0FD;
}

.clickable {
    cursor: pointer;    
}

.clickable:hover {
    box-shadow: 0 0 5px #3AAAFC;
}

.ideas-container:before {
    content: "Click on the most similar idea:";
}

.ideaWrapper.selected {
    background: #3AAAFC;
    color: white;
}

.seedIdea {
    padding: 20px 10px;
    text-align: center;
}

.nav {
    text-transform: none;
}

.navContainer {
    display: inline-block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
}

.navBlock {
    color: white;
    background: #3AAAFC;
    position: relative;
    height: 46px;
    line-height: 36px;
    display: inline-block;
    margin: 0 5px;
    padding: 5px;
    font-size: 12px;
    transition: background 0.2s;
    z-index: 1000;
    border-radius: 3px;
}

.navBlock img {
    height: 22px;
    margin: 5px;
}

.navBlock .scale {
    transform: translate(0,5px);
    margin-right: 2.5px;
}

.navBlock.actionable:hover {
    background: #2E88CA;
    transition: background 0.2s;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.navBlock .dropDown {
    position: absolute;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    top: 95%;
    left: 0;
    width: 100%;
    background: #2E88CA;
    line-height: 1.1em;
    padding: 10px;
    color: white;
    transition: display 0.2s, opacity 0.2s;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

    .navBlock:hover .dropDown {
        visibility: visible;
        opacity: 1;
        transition: display 0.2s, opacity 0.2s;
    }

#addIdeaPopup {
    display:none;
    position: absolute;
    bottom: 0px;
    width: 400px;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    padding-top: 15px;
    background: url(../images/triangle.png) no-repeat;
    background-position: 35px -4px;
}

#addIdeaPopup > div {
    overflow: auto; /* Needed so that the button float doesn't cause the container to collapse under it */
    background: white;
    border: solid 1px #CCC;
    border-top-width: 0;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    box-shadow-top: none !important;
}

.floatRight {
    float: right;
}

.lm_content {
    position: relative;
}

.viewContainer {
    display: block;
    position: absolute;
    height: calc(100% - 41px);
    width: 100%;
    top: 41px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    padding: 0;
}

#ideasContainer {
    padding: 20px;
}

#ideasContainer:empty:after {
    content: 'There are not ideas to be displayed yet.';
    color: #666;
}

.ideaBlock {
    position: relative;
    display: inline-block;
    background: #FFDE78;
    border: solid 1px #FFAF3C;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 1px #666;
    text-shadow: 0 1px rgba(255,255,255,0.4);
    width: 130px;
    height: 100px;
    font-size: 0.8em;
    overflow: hidden;
    transition: width 0.2s, height 0.2s, background-color 0.2s, margin 0.2s;
}

.ideaBlock a.close {
    background: url(../images/close-24.png) no-repeat center center;
    position: absolute;
    width: 24px;
    height: 24px;
    display: inline-block;
    top: 0;
    right: 0;
}

.ideaBlock span.fade {
    opacity: 1;
    color: #bd7b1e;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    line-height: 30px;
    text-indent: 10px;
    width: 100%;
    background: #FFDE78; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(255, 222, 120, 0.85), #FFBD5E); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(255, 222, 120, 0.85), #FFBD5E); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(255, 222, 120, 0.85), #FFBD5E); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(255, 222, 120, 0.85), #FFBD5E); /* Standard syntax */
    opacity: 1;
    transition: opacity 0.2s;
}

.ideaBlock.ideaDragHover {
    border: solid 1px #FF6E3C;
    background: #FFCB78;
}

.ideaHover {
    background-color: #FFBD5E;
    width: 150px; /* Relative to ideaBlock size */
    height: 120px;
    margin: 0;
    transition: width 0.2s, height 0.2s, background-color 0.2s, margin 0.2s;
}

.ideaHover span.fade {
    opacity: 0;
    transition: opacity 0.2s;
}

#overlay {
    z-index: 100;
    background: rgba(255,255,255,0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    display:none;
}

.popupDialog {
    display: none;
    overflow: auto;
    z-index: 99999;
}

#overlay .popupDialog {
    width: 530px;
    height: auto;
    margin: 50px auto 0 auto;
    padding: 20px 20px 20px 20px;
    background: white !important;
    border: solid 1px #CCC;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.clickEnabled {
    cursor: pointer;
    padding: 10px;
}

.clickEnabled > p {
    margin-bottom: 0;
}

.clickEnabled:hover {
    background: #A0D3FF;
}

.sideImage {
    float:left;
    margin-right: 15px;
}

#combineIdeas > .combineIdeasShowIdeas {
    text-align: center;
    margin-bottom: 20px;
}

    #combineIdeas p {
        margin-bottom: 10px;
    }

    #combineIdeas .choices li {
        border-top: solid 1px #CCC;
        overflow: auto;
    }

    #combineIdeas .choices li:last-child {
        border-bottom: solid 1px #CCC;
    }

    #combineIdeas .ideaInput {
        display: none;
    }

#versioningContainer {
    overflow: auto;
    height: 100%;
}

.toolbar {
    z-index: 20;
    position: absolute;
    width: 100%;
    background: white;
    border-bottom: solid 1px #CCC;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}

    .toolbar ul {
        display: inline-block;
        list-style-type: none;
        margin: 5px 0 5px 0;
        padding: 0 20px;
        border-left: solid 1px #CCC;
    }

    .toolbar ul:last-child {
        border-right: none;
    }

    .toolbar ul:first-child {
        padding-left: 10px;
        border-left: none;
    }

        .toolbar ul > li {
            display: inline-block;
            margin-left: -1px;
        }

        .toolbar ul > li > a {
            display: inline-block;
            height: 32px;
            font-size: 0.9em;
            color: black;
            text-align: center;
            line-height: 30px;
            text-decoration: none;
            border: solid 1px #CCC;
            padding: 0 5px;
            border-radius: 2px;
        }

        .toolbar ul > li > a:hover {
            background: #EEE;
        }
            .toolbar ul > li > a > img {
                height: 32px;
                margin-top: -3px;
            }

@keyframes glow {
    0%   {box-shadow: 0 0 0px #3AAAFC;}
    50%  {box-shadow: 0 0 20px #3AAAFC;}
    100% {box-shadow: 0 0 0px #3AAAFC;}
}

.glow {
    animation-name: glow;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
    animation-timing-function: ease-out;
}

#suggestedTasksContainer {
    overflow: auto;
    height: 100%;
    padding-bottom: 30px;
    background: #EEE;
}

#suggestedTasksList > li {
    padding: 10px;
    border-bottom: solid 3px #CCC;
    background: white;
    transition: background 0.3s;
    overflow: auto;
}
    #suggestedTasksList > li:last-child {
        box-shadow: 0 2px 2px rgba(0,0,0,0.1);
        margin-bottom : 20px;
    }

    #suggestedTasksList > li:hover {
        background: #DFF0FD;
        transition: background 0.3s;
    }

#suggestedTasksList > li .ideaBlock {
    display: inline-block !important;
    width: auto;
    height: auto;
    margin: 15px 0 !important;
    padding: 10px !important;
    transition: padding 0.2s, margin 0.2s;
}

    #suggestedTasksList > li .ideaBlock span.fade {
        opacity: 0;
    }

#suggestedTasksList > li .ideaBlock.ideaHover {
    width: auto !important;
    height: auto !important;
    transition: padding 0.2s, margin 0.2s;
}

#suggestedTasksList > li h4 {
    margin-top: 0;
}

.twoCategoryIdeasList > div {
    display: inline-block;
    width: 49%;
    text-align: center;
}

    .twoCategoryIdeasList > div > ul {
        height: 400px;
        width: 100%;
        overflow: auto;
    }

        .twoCategoryIdeasList > div > ul > li {
            width: 100%;
        }

            .twoCategoryIdeasList > div > ul > li > p {
                text-align: left;
            }
.tagsList {
    display: block;
    margin-bottom: 10px;
}

    .tagsList li {
        display: inline-block;
    }

    .tagsList .tag {
        cursor: pointer;
    } 

    .tag.selected {
        background: #217ccc;
        color: white;
    }

    .tag.selected a {
        color: white;
    }

.scale {
    display: inline-block;
    width: 80px;
    height: 17px;
    padding: 3px;
    background: white;
    border-radius: 10px;
}

.scale > .filling {
    width: 0%;
    height: 100%;
    background: #DF6464;
    border-radius: 5px;
    transition: width 1s, background 1s;
}

.suggestedTags {
    margin: 20px 0;
}

    .suggestedTags > div {
        color: #999;
        display: inline;
    }

    .suggestedTags > div:empty:before {
        content: 'Suggestions will appear as you type your idea.'
    }

    .suggestedTags .tag {
        cursor: pointer;
        background: #EEE;
        border: solid 1px #CCC;
    }

#tutorialPopUp img.inline {
    height: 20px;
}

.loading .loadingBadge {
    display: block;
}

.loadingBadge {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../images/loading.gif) no-repeat center center;
    width: 36px;
}