body {
    background: #EEE;
}

h2, h3 {
    margin-top: 0;
    margin-bottom: 30px;
}

h4 {
    font-weight: bolder;
}

p {
    margin: 0 0 20px 0;
}

img {
    width: 90%;
    border: solid 3px #999;
    display: block;
    margin: 0 auto 20px auto;
}

ol {
    margin: 0 0 20px 0;
}

.logo {
    color: white;
    font-family: 'ChunkFive'; 
    font-weight: normal; 
    font-style: normal;
    font-size: 4em;
}

.navbar {
    background: #62D0FF;
    border-bottom: 0;
    padding-bottom: 10px;
}

.footer {
    background: white;
    color: black;
}

.main-container {
    margin-top: 50px;
}

textarea {
    width: 100%;
    height: 100px;
    border: solid 1px #CCC;
    padding: 10px;
}

input[type=text] {
    border: solid 1px #CCC;
}

.category input[type=text] {
    width: 120px;
    line-height: 2em;
    padding: 5px;
}

.top-buffer {
    margin-top: 20px;
}

#clusters {
    background: white;
    height: 400px;
}

.central {
    fill: white !important;
    stroke-width: 4px !important;
}

.list-group-item h3 {
    margin-top: 0;
}

table {
    font-size: 0.8em;
    table-layout: fixed;
    word-wrap:break-word;
}

table td,
table th {
    padding: 10px;
    border: solid 1px black;
    width: 20px;
}

table th {
    border: 0;
    font-weight: bolder;
    overflow: visible;
    text-align: right;
}

table tr th {
    white-space: nowrap;
}

table th > div {
    transform: 
        /* 45 is really 360 - 45 */
        rotate(315deg);
    width: 20px;
}

#matrix {
    margin-top: 40px;
}

#getHint {
    margin-left: 20px;
}

.tooltip * {
    text-align: left;
    text-transform: none;
    line-height: 1.2em;
}

.top-row {
    background: white; 
    padding: 20px;
}

.pop-out {
    background: white;
    padding: 20px;
}

.pop-out:after {
  content:"";
  display:block;
  clear:both;
}

.horizontal-radial {
    margin: 0 0 30px 0;
    padding: 0;
}

.horizontal-radial li {
    display: inline-block;
    padding: 0 5px;
}

.btn-primary {
    width: 100%;
}


@font-face {
    font-family: 'Chunkfive';
    src: url('../fonts/ChunkFive/Chunkfive.otf'); 
    src: 
        local('Chunkfive'),
        local('Chunkfive'),
        url('../fonts/ChunkFive/Chunkfive.otf') 
        format('opentype');
}

.quote {
    font-style: italic;
    margin: 0 0 30px 0;
    padding-left: 10px;
    border-left: solid 4px #244363;
}

.hidden {
    display: none;
}

#time-over {
    background: #C5E3BF;
    padding: 20px;
    border: dashed 2px green;
    border-radius: 5px;
    display:none;
}

#time-over .quote {
    margin-bottom: 0;
}