body {
    background: #3AAAFC;
    background: linear-gradient(#437BF0, #3AAAFC) fixed;
    padding: 20px;
}

    body > div {
        margin-bottom: 20px;
    }

h2 {
    color: white;
    margin-bottom: 5px;
}

ul {
    display: inline-block;
}

    ul.underlined > li {
        border-bottom: dotted 1px white;
        width: auto;
    }

        ul > li > strong {
            display: inline-block;
            width: 200px;
        }

li > a {
    color: white;
}

li > ol {
    display: inline-block;
    margin-left: 0;
    padding-left: 15px;
    width: auto !important;
}

    li > ol > li {
        width: 300px;
    }

#container {
    display: table;
}

#container > div {
    display: table-cell;
    padding: 20px;
    width: 33%;
}

.vertical-align {
    display: table;
}

    .vertical-align > * {
        vertical-align: top;
        display: table-cell;
    }

table {
    border-radius: 10px;
    overflow: hidden;
    border: none;
    border-collapse: collapse;
    color: #666;
}

    table th {
        background: #DCF0FF;
        border: solid 1px white;
    }
    table td {
        background: white;
        border: solid 1px white;
    }
    table td.empty {
        background: transparent;
        color: white;
    }
    table th.inferred {
        background: rgb(231, 236, 200);
    }
    table td.inferred {
        background: rgb(249, 255, 220);
    }

#graph-canvas {
    height: 500px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

.actions {
    border-radius: 10px;
    margin-bottom: 10px;
    background: rgba(255,255,255,0.6);
    border-radius: 10px;
    padding: 0;
    float: left;
    clear: left;
}
.actions > div {
    display: inline-block;
    padding: 5px 10px 0 10px;
    margin-right: 10px;
    background: rgba(255,255,255,0.6);
    border-radius: 10px;
}
.actions > div:last-child {
    margin-right: 0;
}

    .actions h3 {
        display: inline-block;
        margin-right: 20px;
        color: black;
    }

    .actions a {
        display: inline-block;
        padding-right: 10px;
        margin-right: 10px;
        border-right: solid 1px white;
    }
    .actions a:last-child {
        border-right: none;
    }

.contributors {
    margin-bottom: 40px;
    clear: left;
}

.organize-tags li {
    background: rgba(255,255,255,0.6);
    padding: 10px;
    margin-bottom: 5px;
    color: black;
    border-radius: 10px;
    width: 300px;
    cursor: move;
    position: relative;
}

.tag span {
    cursor: pointer;
}

#ideas-display {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 400px;
    color: white;
    list-style-type: decimal;
}


.organize-tags li > a.promote,
.organize-tags li > a.demote {
    position: absolute;
    font-weight: bolder;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    background: blue;
    display: inline-block;
    text-decoration: none;
}

.organize-tags li.demoted {
    margin-left: 30px;
}

.organize-tags li:first-child a.demote {
    display: none !important;
}

.organize-tags li.demoted a.demote {
    display: none;
}
.organize-tags li.demoted a.promote {
    display: inline-block;
}

.organize-tags li > a.demote {
    right: -25px;
    top: 10px;
}
.organize-tags li > a.promote {
    left: -25px;
    top: 10px;
    display: none;
}

.organize-tags li.new {
    cursor: default;
    background: transparent;
    padding: 0;
}

.organize-tags li.new a {
    width: 100%;
    display: inline-block;
}

/* log actions */
.add_idea td { background: rgb(255, 204, 128); }
.get_available_tasks td { background: rgb(255, 253, 159); }
.refresh_page td,
.new_user td { background: rgb(193, 241, 160); }