
.tick {
	display: none;
}

.smallIdea {
	fill: #FFDE78;
	stroke: #FFAF3C;
	stroke-width: 0.5;
	cursor: pointer;
	transition: fill 0.2s;
}

	.smallIdea.smallIdeaHover {
		fill: #FFBD5E;
		transition: fill 0.2s;
	}

.axis {
	stroke: #CCC;
}

.versioningConnection {
	stroke-width: 4;
}

.versioningConnection.combine {
	stroke: #4747D5;
}

.versioningConnection.merge {
	stroke: #DF6464;
}


/* SOLUTION SPACE */
#solutionSpaceContainer {
	height: 100%;
	position: relative;
	overflow: auto;
	min-width: 100%;
	padding: 0 200px 200px 0;
}

#solutionSpaceHeader {
	background: #DCF0FF;
	white-space: nowrap;
	min-width: 100%;
	padding-left: 40px;
	height: 40px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 4;
	border-bottom: solid 2px white;
	font-size: 0.8em;
}

#solutionSpaceLeftColumn {
	background: #DCF0FF;
	width: 40px;
	position: absolute;
	min-height: 100%;
	left: 0;
	top: 40px;
	z-index: 3;
	border-right: solid 2px white;
	font-size: 0.8em;
	
}

#solutionSpaceRightColumn {
	background: #DCF0FF;
	width: 40px;
	position: absolute;
	right: 0;
	top: 40px;
	z-index: 3;
	border-left: solid 2px white;
	min-height: 100%;
}

#spaceContainer {
	position: absolute;
	top: 40px;
	left: 40px;
	z-index: 2;
	margin-bottom: 40px;
	padding-right: 40px;
}

.spCell {
	width: 40px;
	height: 40px;
	border: solid 2px white;
	display: block;
	line-height: 40px;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
}

#spaceContainer .spCell {
	position: absolute;
	border-left: none;
	border-top: none;
}

.spCell > span {
	width: 100%;
	height: 100%;
	display: inline-block;
}

.spRow {
	display: block;
	width: 100%;
	height: 40px;
	clear: left;
	overflow: none;
	white-space: nowrap;
	border-bottom: solid 1px white;
}

.spRow:hover {
	background: #DCF0FF;
}

.spRow > .spCell {
	border: none;
	border-right: solid 2px white;
	border-bottom: solid 2px white;
}

#solutionSpaceHeader .spCell {
	border-top: none;
	border-bottom: none;
	border-left: none;
	display: inline-block;
}

#solutionSpaceHeader .spCell:first-child {
	border-left: solid 2px white;
	margin-left: -2px;
	width: 42px;
}

#solutionSpace .spCell:last-child {
	border:none;
}

#solutionSpaceLeftColumn .spCell > span,
#solutionSpaceHeader .spCell > span {
	display: inline-block;
	transform: rotate(-45deg)
}

#solutionSpaceLeftColumn .spCell,
#solutionSpaceRightColumn .spCell {
	border-left: none;
	border-right: none;
	border-top: none;
}

#solutionSpaceLeftColumn .spCell:first-child {
	border-top: none;
}

#spaceContainer .spCell {
	display: inline-block !important;
}

.cellHover {
	background: #DCF0FF;
}

#miniMap {
	display: none;
	width: 100px;
	height: 100px;
	background: white;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	position: absolute;
	bottom: 10px;
	right: 65px;
	z-index: 100;
	border: solid 1px #666;
	padding: 0 1px 1px 0;
}

#miniMap > #pan {
	position: absolute;
	width: 20px;
	height: 20px;
	border: solid 1px #3AAAFC;
	background: rgba(58,170,252,0.3);
	cursor: all-scroll;
}