{{extend 'layout.html'}}

<div class="container">
	<div class="row top-buffer">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="pop-out">
				<h2>Welcome!</h2>

				<p>This task asks you to read a very brief introduction on how to use the system and then write ideas to solve a mechanical turk related problem. The instructions should take you no more than a couple of minutes, and the ideation part will last for exactly {{=ideationTime}} minutes. You will also be asked to take a survey, which should last for around {{=surveyTime}} minutes.</p>

				<p>The total time will be, therefore, a little over {{=ideationTime + surveyTime}} minutes.</p>			
				
				<h4 class="warning"><strong>IMPORTANT: Please, only move on to the next page if you are sure that you will complete this task, which means committing around {{=ideationTime + surveyTime}} minutes of undivided attention to this.</strong></h4> <br/>

				<a href="{{=URL('tasks', 'intro')}}" class="btn btn-primary" id="idea-submit">Start</a>

			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>