{{extend 'layout.html'}}
<script type="text/javascript" src="{{=URL('static','js/tasks.js')}}"></script>
<script>
    var URL = {};
    URL.addIdea = "{{=URL('tasks','add_idea')}}";
    URL.getIdea = "{{=URL('tasks','get_idea')}}";
    URL.rateIdea = "{{=URL('tasks','rate_idea')}}";
    URL.getFinalID = "{{=URL('tasks','final_id')}}";
    URL.postSurvey = "{{=URL('tasks','post_survey')}}";

    var ENV = {};
    ENV.condition = {{=userCondition}};
    ENV.startTime = "{{=startTime}}";
    ENV.ideationTime = {{=ideationTime}};

</script>

<div class="container">
	<div class="row top-buffer">
		<div class="col-md-12">
			<div class="pop-out">
		        <div class="col-md-12">
		            <p>Your task is to <strong>come up with as many ideas as you can to address the problem below</strong>. Be <strong>as speciﬁc as possible</strong> in your responses.</p>

		            <p>
		                <strong>Problem description:</strong> Mechanical Turk currently lacks a dedicated mobile app for performing HITs on smartphones (iPhone, Androids, etc.) or tablets (e.g., the iPad). Brainstorm features for a mobile app to Mechanical Turk that would improve the worker’s experience when performing HITs on mobile devices. 
		            </p>

		            <p>
		            	<strong>Time left: </strong> <span id="timer">-</span>
		            </p>  
		            <div id="time-over">
		            	<h2>Congratulations, you're done with ideation!</h2>
		            	{{if userCondition == 1:}}
			            	<p>Thank you for your time and help! To get paid, press the button below and copy and paste the following code back into the MTurk hit:</p>
			            {{else:}}
			            	<p>Thank you for your ideas! Please answer the questions below (mandatory). After you answer them, you will be presented with a code. To get paid, copy and paste it back into the MTurk hit.</p>
			            	<form id="survey">
				            	<p>
				            		1. How useful did you find the "get inspiration" button to be?
				            		<!-- Yes / No -->
				            		<ul>
						        		<li> <input type="radio" name="useful-inspiration" id="survey-useul-3" value="3"/> 
						        			<label for="survey-useul-3">It helped a lot</label>
						        		</li>
						        		<li> <input type="radio" name="useful-inspiration" id="survey-useul-2" value="2"/> 
						        			<label for="survey-useul-2">It didn't make a difference</label>
					        			</li>
						        		<li> <input type="radio" name="useful-inspiration" id="survey-useul-1" value="1"/> 
						        			<label for="survey-useul-1">It made things harder</label>
						        		</li>
						        	</ul>
				            	</p>
				            	<p>
				            		2. What open-ended comments do you have about the "get inspiration" button, or the system in general?
				            		<textarea></textarea>
				            	</p>
			            	</form>
			            	<p>Once you've answered all questions, press the "get code" button below, and paste the code back into the MTurk HIT.</p>
			            {{pass}}
			            <button class="btn btn-primary" id="get-code">Get code</button>
			            <h3 id="final-id" style="display:none">Loading id...</h3>
		            </div>
		        </div>
		    </div>
        </div>
    </div>

    <div class="row top-buffer">
    	
        <div class="ideation {{= 'col-md-6' if userCondition != 1 else 'col-md-12' }}"> <!-- class="col-md-12" if condition == c1 -->
            <div class="pop-out">
            	<h2>Ideation</h2>
            	<h3>Submit a new idea</h3>

            	<div>
	                <p>
	                	<textarea id="idea-input" placeholder="Type in your idea in here. Be very specific, and write as many details as possible! Only 1 idea at a time."></textarea>
	                </p>

	                <p>List tags related to your idea (separate each by a comma):</p>
	                <input type="text" name="concepts-input" id="concepts-input" class="bottom-buffer" placeholder="e.g.: tag 1, tag 2, tag 3, ..."/>

	                <button class="btn" id="idea-submit">Post Idea</button>
	            </div>
	            <h3 class="top-separator">Your previous ideas</h3>
	            <ul class="list-group" id="user-ideas">
	                <!-- dynamic list -->
	                {{if ideas:}}
	                    {{for idea in ideas:}}
	                    <li class="list-group-item">
	                        <p>{{=idea.idea.idea}} 
	                        	{{for concept in idea.idea.concept_idea.select():}}
	                        		<span>{{=concept.concept.concept}}</span>
	                        	{{pass}}
	                        </p>
	                    </li>
	                    {{pass}}
	                {{else:}}
	                <li class="list-group-item" id="no-user-idea">
	                    <h4>No ideas have been submitted yet!</h4>
	                    <p>Use the form above to submit an idea</p>
	                </li>
	                {{pass}}
	            </ul>
            </div>
        </div>

        {{if userCondition != 1:}} 
        <div class="tasks col-md-6">
        	<div class="pop-out">
        		<h2>Inspiration</h2>

        		<p id="pretask-instructions">
        		{{if userCondition == 2:}}
        			Need inspiration? Click the button below and you will be presented with a set of ideas generated by other users. Feel free to use them as inspiration: remix them with your own ideas, expand on them, or use them in anyway you'd like!
        		{{elif userCondition > 2:}}
        			Need inspiration? Click the button below and you will be presented with a task that uses ideas generated by other users. Feel free to use them as inspiration: remix them with your own ideas, expand on them, or use them in anyway you'd like!
        		{{pass}}
        		</p>

	        	<div class="toggle prompt">
	        		

	        		<button class="btn" id="inspiration-request">Get inspiration</button>
	        	</div>

	        	<div class="toggle task hidden">
	        		<p id="task-instructions">
		        		{{if userCondition == 2:}}
		        			The ideas below have been submitted by other users. Feel free to use them as inspiration: remix them with your own ideas, expand on them, or use them in anyway you'd like!
		        		{{elif userCondition == 4:}}
		        			The task below asks you to select which idea is more similar to idea #1. All ideas were generated by other users of this system. After you finish the task, feel free to use them as inspiration: remix them with your own ideas, expand on them, or use them in anyway you'd like!
		        		{{pass}}
	        		</p>

		        	<div id="ideas-container">
		        		<!-- The ideas are dynamically added here -->
		        	</div>

		        	<input type="hidden" id="idea-id"/>

		        	{{if userCondition == 3:}}
			        	<h4>How original is this idea?</h4>
			        	<p>Originality: how surprising, novel, unusual, or creative this idea is.</p>
			        	<ul class="horizontal-radial">
			        		<li> Extremely unoriginal <input type="radio" name="originality" value="1"/> </li>
			        		<li> <input type="radio" name="originality" value="2"/> </li>
			        		<li> <input type="radio" name="originality" value="3"/> </li>
			        		<li> <input type="radio" name="originality" value="4"/> </li>
			        		<li> <input type="radio" name="originality" value="5"/> </li>
			        		<li> <input type="radio" name="originality" value="6"/> </li>
			        		<li> <input type="radio" name="originality" value="7"/> Extremely original </li>
			        	</ul>

			        	<h4>How useful is this idea?</h4>
			        	<p>Usefulness: how practical and feasable the idea is if it were to be implemented</p>
			        	<ul class="horizontal-radial">
			        		<li> Extremely useless <input type="radio" name="usefulness" value="1"/> </li>
			        		<li> <input type="radio" name="usefulness" value="2"/> </li>
			        		<li> <input type="radio" name="usefulness" value="3"/> </li>
			        		<li> <input type="radio" name="usefulness" value="4"/> </li>
			        		<li> <input type="radio" name="usefulness" value="5"/> </li>
			        		<li> <input type="radio" name="usefulness" value="6"/> </li>
			        		<li> <input type="radio" name="usefulness" value="7"/> Extremely useful </li>
			        	</ul>

			        	<button class="btn btn-primary" id="task-submit">Submit rating</button>
			        {{elif userCondition == 4:}}
			        	<h4>Which idea is more similar to idea #1?</h4>
			        	<ul>
			        		<!-- The value for these radio buttons represents the index for each idea in the array of ideas -->
			        		<li> <input type="radio" name="similarity" id="similarity-2" value="1"/> <label for="similarity-2">Idea #2</label> </li>
			        		<li> <input type="radio" name="similarity" id="similarity-3" value="2"/> <label for="similarity-3">Idea #3</label> </li>
			        	</ul>

			        	<button class="btn" id="task-submit">Submit task</button>
		        	{{else:}}
		        		<button class="btn" id="close-idea">Done</button>
		        	{{pass}}
	        	</div>
	        	<!--
        		<h3 class="top-separator">Your previous tasks</h3>
        		<li class="list-group-item" id="no-user-idea">
                    <h4>You haven't done any tasks yet</h4>
                    <p>To do a task, select one task type from the options above</p>
                </li>
                -->
        	</div>
        </div>
        {{pass}}
    </div>
</div>