{{extend 'layout.html'}}

<script type="text/javascript" src="{{=URL('static','js/taxonomy.js')}}"></script>
<script type="text/javascript">
	var URL = {};
    URL.getTagsByMinute = "{{=URL('taxonomy','get_tags_by_minute')}}";
</script>

<div class="container">
	<div class="row top-buffer">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="pop-out">
				<h2>Tag matrix</h2>

					<!-- <div class="bottom-buffer">
						<strong>Time</strong> (drag the slider to advance in time)
						<input type="range" id="time_range" name="time" value="0" min="0" max="{{=range}}"></input>
					</div> -->

					<div>
						<strong>Options</strong>
						<ul id="options-list" class="horizontal-radial">
							<!-- dynamically generated -->
						</ul>
					</div>

					<div>
						<strong>Raw number of tags:</strong> <span id="raw_number">0</span> |
						<strong>Processed number of tags:</strong> <span id="processed_number">0</span> |
						<strong>% reduced:</strong> <span id="percent_reduced">0</span> |
						<strong>Max cell value:</strong> <span id="max_cell_value">0</span>
					</div>

					<div class="center" id="matrix-container">
						<table id="matrix">
							<!-- dynamically generated -->
						</table>
					</div>

			</div>
		</div>
	</div>
</div>