@keyframes tutorialGlow {
    0%   {box-shadow: 0 0 20px #3AAAFC;}
    50%  {box-shadow: 0 0 50px #3AAAFC;}
    100% {box-shadow: 0 0 20px #3AAAFC;}
}

#tutorialOverlay {
    display: none; 
    z-index: 2000; 
    background: rgba(0,0,0,0.8);
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0; 
    top: 0;
}

#tutorialPopUp {
    width: auto;
    height: auto;
    padding: 20px;
    background: white !important;
    border-radius: 10px;    
    /* border: solid 1px #CCC; */
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    transition: height 0.5s;
    position: absolute;
    font-size: 14px !important;
    color: black !important;
    text-align: left !important;
    line-height: 16px !important;
}

#tutorialPopUp.noHighlight {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#tutorialPopUpFooter {
    position: relative;
    padding: 20px 0 0 0;
    height: 30px;
}

#tutorialPopUpPrevious {
    position: absolute;
    left: 0;
}

#tutorialPopUpNext {
    position: absolute;
    right: 0;
}

#tutorialPopUpCurrent {
    position: absolute;
    left: 50%;
    transform: translate(-25%,0);
}

.tutorialHighlightElement {
    z-index: 9000 !important;
    position: relative;
    animation-name: tutorialGlow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;

}