{{extend 'systemlayout.html'}}

{{block page_js}}
	
	<!-- Load JS libraries -->
	<script type="text/javascript" src="{{=URL('static','js/jquery-ui.min.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/jquery.mobile.custom.min.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/goldenlayout.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/mustache.min.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/d3.v4.min.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/jquery.tagsinput.min.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/jquery.validate.min.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/scrollmarker.js')}}"></script>

	<!-- Load styles -->
	<link type="text/css" rel="stylesheet" href="{{=URL('static','css/goldenlayout-base.css')}}" />
	<link type="text/css" rel="stylesheet" href="{{=URL('static','css/goldenlayout-light-theme.css')}}" />
	<link type="text/css" rel="stylesheet" href="{{=URL('static','css/visualizations.css')}}" />
	<link type="text/css" rel="stylesheet" href="{{=URL('static','css/tutorial.css')}}" />
	<link type="text/css" rel="stylesheet" href="{{=URL('static','css/jquery-ui.min.css')}}" />
	<link type="text/css" rel="stylesheet" href="{{=URL('static','css/jquery.tagsinput.min.css')}}" />

	<script>
		// Set up globals
	    var URL = { // URLs
	    	addIdea: "{{=URL('brainstorm','add_idea',request.args(0))}}",
			getTags: "{{=URL('brainstorm','get_tags',request.args(0))}}",
			getAllTags: "{{=URL('brainstorm','get_all_tags',request.args(0))}}",
			checkUpdates: "{{=URL('brainstorm','check_updates',request.args(0))}}",
			// Idea workspace view
			getUserIdeas: "{{=URL('ideaworkspaceview','get_ideas',request.args(0))}}",
	    	getIdeaById: "{{=URL('ideaworkspaceview','get_idea_by_id',request.args(0))}}",
			addToFavorites: "{{=URL('ideaworkspaceview','add_to_favorites',request.args(0))}}",
			// Solution space view
			getSolutionSpace: "{{=URL('solutionspaceview','get_solution_space',request.args(0))}}",
			getIdeasPerCategory: "{{=URL('solutionspaceview','get_ideas_per_tag',request.args(0))}}",
			// Versioning view
			getVersioningStructure: "{{=URL('versioningview','get_versioning_structure',request.args(0))}}",
			// Tasks view
			getAvailableTasks: "{{=URL('tasksview','get_available_tasks',request.args(0))}}",
			submitTask: "{{=URL('tasksview','submit_task',request.args(0))}}"
	    },		
	    ENV = { // Global constants
			userId: "{{=user_id}}",
			userName: "{{=user_name}}",
			autoReloadTimer: 15, // seconds or 'OFF' to disable
			scrollDelay: 500, // Delay before a view scrolls to an idea on hover
			scrollSpeed: 200, // Speed in which the scroll happens,
			classPrefix: 'cl_',
			idPrefix: 'id',
			autoUpdateOrganizationRatioSeconds: 30,
			minNumberTags: 1,
			maxNumberTags: 2,
			newUser: '{{=str(new_user).lower()}}' === 'true',
			doneInspirationTutorial: '{{=str(new_user).lower()}}' === 'true' ? false : true,
			currentPhase: 1, // Keeps track of the current ideation phase
			aloneIdeationTime: 10, // Duration of time, in minutes, before other views are opened
			checkUpdateFrequency: 10000 // How often should the system check for new ideas
		},
		EVENTS = {
			popOverClose: [],
			ideaSubmitted: 'ideaSubmitted',
			taskSubmitted: 'taskSubmitted',
			highlightIdea: 'highlightIdea',
			blurIdea: 'blurIdea',
			highlightTags: 'highlightTags',
			blurTags: 'blurTags'
		},
		TEMPLATES = {}, // Mustache templates (dynamically loaded on page load)
		VIEWS = {}, // View objects
		TOOLBAR = {}; // Toolbar event handlers
	</script>

	<!-- Load JS custom code -->
	<script type="text/javascript" src="{{=URL('static','js/golden-layout-config.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/tutorial.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/classes.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/view.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/ideaviewer-view.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/tasks-view.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/versioning-view.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/solutionspace-view.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/util.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/tagpicker.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/system.js')}}"></script>

	<!-- Mustache templates -->
	<script id="ideaViewerTemplate" type="text/x-tmpl-mustache">
		<div class="toolbar phase1_bl">
			<!-- <ul>
				<li><a title="Reload this panel" onclick="TOOLBAR.ideaViewer.reload()">
					<img src="{{=URL('static','images/reload.png')}}">
				</a></li>
			</ul> -->
			<ul>
				<li><a title="Load your ideas" onclick="TOOLBAR.ideaViewer.loadUserIdeas()">
					<img src="{{=URL('static','images/user.png')}}">
				</a></li>
				<li><a title="Load your favorite ideas" onclick="TOOLBAR.ideaViewer.loadFavoriteIdeas()">
					<img src="{{=URL('static','images/heart-black.png')}}">
				</a></li>
				<li><a title="Load all latest version ideas" onclick="TOOLBAR.ideaViewer.loadAllIdeas()">
					<img src="{{=URL('static','images/group.png')}}">
				</a></li>
			</ul>
			<div class="loadingBadge"></div>
			<div id="ideasContainerCounter"><span>0</span> ideas loaded</div>
		</div>
		<div id="ideasContainer" class="viewContainer"></div>
	</script>

	<script id="versioningViewerTemplate" type="text/x-tmpl-mustache">
		<div class="toolbar">
			<ul>
				<li><a title="Reload this panel" onclick="TOOLBAR.versioningView.reload()">
					<img src="{{=URL('static','images/reload.png')}}">
				</a><span class="notificationBadge">!</span></li>
				<!-- <li><a title="Auto-reload toggle" onclick="TOOLBAR.versioningView.toggleAutoReload()">
					 <img src="{{=URL('static','images/clock.png')}}"><span id='versioningTimerDisplay'>OFF</span>
				</a></li> -->
			</ul>
			<div class="loadingBadge"></div>
		</div>
		<div id="versioningContainer" class="viewContainer">
			
		</div>
	</script>

	<script id="innerVersioningViewerTemplate" type="text/x-tmpl-mustache">
		<div class="legend">
			<ul>
				<li class="refinement"><span></span>Refinement</li>
				<li class="combine"><span></span>Combination</li>
				<li class="merge"><span></span>Merging</li>
			</ul>
		</div>
		<div class="treeView">
		</div>
	</script>

	<script id="versioningViewNodeTemplate" type="text/x-tmpl-mustache">
		<div class="node [[type]]">
			<span class="smallIdea [[classTags]] [[classId]]" data-id="[[id]]" data-tags="[[tags]]"></span>
			<span class="line line1"></span>
			<span class="line line2"></span>
			<div class="children"></div>
		</div>
	</script>

	<script id="suggestedTasksViewerTemplate" type="text/x-tmpl-mustache">
		<div class="toolbar">
			<ul>
				<li><a title="Reload this panel" onclick="TOOLBAR.suggestedTasks.reload()">
					<img src="{{=URL('static','images/reload.png')}}">
				</a></li>
				<li><a title="Auto-reload toggle" onclick="TOOLBAR.suggestedTasks.toggleAutoReload()">
					<img src="{{=URL('static','images/clock.png')}}"><span id='tasksTimerDisplay'>OFF</span>
				</a></li>
			</ul>
			<div class="loadingBadge"></div>
		</div>
		<div id="suggestedTasksContainer" class="viewContainer">
			<ul id="suggestedTasksList">
			</ul>
		</div>
	</script>

	<script id="solutionSpaceViewerTemplate" type="text/x-tmpl-mustache">
		<div class="toolbar">
			<ul>
				<li><a title="Reload this panel" onclick="TOOLBAR.solutionSpaceView.reload()">
					<img src="{{=URL('static','images/reload.png')}}">
				</a><span class="notificationBadge">!</span></li>
				<!-- <li><a title="Auto-reload toggle" onclick="TOOLBAR.solutionSpaceView.toggleAutoReload()">
					<img src="{{=URL('static','images/clock.png')}}"><span id='solutionSpaceTimerDisplay'>OFF</span>
				</a></li> -->
			</ul>
			<ul>
				<li><a class="active" id="toggleMinimap" title="Toggle the minimap" onclick="TOOLBAR.solutionSpaceView.toggleMinimap()">
					<img src="{{=URL('static','images/map.png')}}">
				</a></li>
			</ul>
			<div class="loadingBadge"></div>
		</div>
		
		<div id="solutionSpaceContainer" class="viewContainer">
		</div>
		
		<div id="miniMap">
			<div id="pan"></div>
		</div>
	</script>
	
	
	<script id="solutionSpaceStructureTemplate" type="text/x-tmpl-mustache">
		<div id="solutionSpaceHeader">
		</div>

		<div id="solutionSpaceLeftColumn">
		</div>

		<!-- <div id="solutionSpaceRightColumn">
		</div> -->

		<div id="spaceContainer">
		</div>
	</script>

	<script id="TagSuggestionTaskTemplate" type="text/x-tmpl-mustache">
		<div id="ideaPlaceholder"></div>
		<p>Suggest tags for this idea</p>
		<input type="text" class="tagInput" name="answer" />
		<!-- <a class="btn">Submit</a> -->
		<!-- required task data -->
		<input type="hidden" name="taskId" value="[[id]]"/>
		<input type="hidden" name="taskType" value="[[type]]"/>
	</script>

	<script id="TagValidationTaskTemplate" type="text/x-tmpl-mustache">
		<div id="ideaPlaceholder"></div>
		<p>Click on the <strong>one</strong> tag that you think is the most appropriate to describe this idea</p>
		<ul class="tagsList single"></ul>
		<!-- <a class="btn">Submit</a> -->
		<!-- required task data -->
		<input type="hidden" name="taskId" value="[[id]]"/>
		<input type="hidden" name="taskType" value="[[type]]"/>
	</script>
	
	<script id="RatingTaskTemplate" type="text/x-tmpl-mustache">
		<div id="ideaPlaceholder"></div>
		
		<div class="ratingWrapper">
			<h4>How original is this idea?</h4>
			<p>How surprising, novel, unusual, or creative this idea is.</p>
			<div class="ratingScale">
				<div class="selectors">
					<div class="line"></div>
					<input type="radio" name="originality" value="1" required/>
					<input type="radio" name="originality" value="2" required/>
					<input type="radio" name="originality" value="3" required/>
					<input type="radio" name="originality" value="4" required/>
					<input type="radio" name="originality" value="5" required/>
					<input type="radio" name="originality" value="6" required/>
				</div>
				<div class="ends">
					<span>Extremely unoriginal</span>
					<span>Extremely original</span>
				</div>
			</div>
		</div>
		
		<div class="ratingWrapper">
			<h4>How useful is this idea?</h4>
			<p>How practical and feasible the idea is if it were to be implemented.</p>
			<div class="ratingScale">
				<div class="selectors">
					<div class="line"></div>
					<input type="radio" name="usefulness" value="1" required/>
					<input type="radio" name="usefulness" value="2" required/>
					<input type="radio" name="usefulness" value="3" required/>
					<input type="radio" name="usefulness" value="4" required/>
					<input type="radio" name="usefulness" value="5" required/>
					<input type="radio" name="usefulness" value="6" required/>
				</div>
				<div class="ends">
					<span>Extremely useless</span>
					<span>Extremely useful</span>
				</div>
			</div>
		</div>
		<p class="summary"></p>
		<!-- required task data -->
		<input type="hidden" name="taskId" value="[[id]]"/>
		<input type="hidden" name="taskType" value="[[type]]"/>
	</script>

	<script id="ideaBlockTemplate" type="text/x-tmpl-mustache">
		<div class="ideaBlock id[[id]] [[favorite]]" id="id[[id]]" style="display:none">
			[[idea]]
			[[#closeable]]
			<a title="Close idea" class="close"></a>
			[[/closeable]]
			<div class="popOut">
				[[#editable]]
				<a class="expandBtn">View</a>
				<a class="refineBtn">Refine</a>
				[[/editable]]
				<a class="favoriteBtn">Favorite</a>
			</div>
			<!-- <span class="fade"></span> -->
			<input type="hidden" name="ideaId" value="[[id]]"></input>
			<input type="hidden" name="ideaTags" value="[[tags]]"></input>
		</div>
	</script>

	<script id="tagsViewTemplate" type="text/x-tmpl-mustache">
		<span class="close"></span>
		<h2>Tags view</h2>
		<p>See ideas that have the tags you selected. If you see ideas you like, drag and drop to combine or merge them.</p>

		<div class="twoCategoryIdeasList">
			<div class="cl_[[category1]]">
				<h3>[[category1]]</h3>
				<ul>
					<li class="loading"><div class="loadingBadge"></div></li>
				</ul>
			</div>

			<div class="cl_[[category2]] loading">
				<h3>[[category2]]</h3>
				<ul>
					<li class="loading"><div class="loadingBadge"></div></li>
				</ul>
			</div>
		</div>
	</script>

	<script id="tagTemplate" type="text/x-tmpl-mustache">
		<span class="tag"><a>[[tag]]</a></span>
	</script>

	<script id="tutorialWelcomeTemplate" type="text/x-tmpl-mustache">
		<p>Welcome to the CrowdMuse system. Here, you can collaboratively generate and organize ideas!</p>

		<p>This very short tutorial will walk you through the core parts of this system.</p>
	</script>

	<script id="tutorialAddIdeaTemplate" type="text/x-tmpl-mustache">
		<p>You can add a new idea by clicking this button</p>
	</script>

	<script id="tutorialInspirationTemplate" type="text/x-tmpl-mustache">
		<p>Whenever you need some extra inspiration, just click here</p>
	</script>

	<script id="tutorialIdeaViewerTemplate" type="text/x-tmpl-mustache">
		<p>This is the idea viewer. Every idea you add (through the "Add Idea" button above) will appear here.</p>

		<p>
			You can add a new idea by clicking the "add idea" button 
			(<img src="{{=URL('static','images/plus-padding.png')}}" alt="See all ideas" class="inline">)
		</p>

		<p>
			You can also open every idea that has been generated by clicking the "See all ideas" 
			button (<img src="{{=URL('static','images/group.png')}}" alt="See all ideas" class="inline">) on the toolbar. 
		</p>
		<p>
			To see only your ideas again, click on "See my ideas" button 
			(<img src="{{=URL('static','images/user.png')}}" alt="See all ideas" class="inline">).
		</p>
	</script>

	<script id="tutorialSolutionSpaceTemplate" type="text/x-tmpl-mustache">
		<p>This is the solution space. Each row and column represents a distinct tag related to the ideas that have been generated.</p>

		<p>The darker the cell, the more ideas have been generated at the intersection between two tags.</p>

		<p>If you hover over a cell, the ideas that belong to the tags you're pointing to will be highlighted in the idea viewer.</p>
	</script>

	<script id="tutorialVersioningViewTemplate" type="text/x-tmpl-mustache">
		<p>
			This is the versioning view. It allows you to see where an idea came from: has it been combined or merged from ther ideas? 
			What are its older versions?
		</p>

	</script>

	<script id="tutorialOrganizationLevelTemplate" type="text/x-tmpl-mustache">
		<p>This is the organization metric. It shows you how organized the solution space is.</p>

		<p>Adding ideas will decrease the organization level, since the new idea hasn't been appropriately classified yet.</p>

		<p>Doing tasks in the suggested panel will increase this level, since it helps to organize the solution space.</p>
	</script>

	<script id="inspirationPopupTemplate" type="text/x-tmpl-mustache">
		<span class="close"></span>

		<h2>Get inspired <a class="help">?</a> </h2>
		<div class="helpPanel">
			<img src='{{=URL('static','images/insp-tut1.png')}}' />
			<p>
				To inspire you, we'll show you three ideas from other users
			</p>
			<img src='{{=URL('static','images/insp-tut2.png')}}' />
			<p>
				We'll also ask you to answer simple questions about them
			</p>
			<img src='{{=URL('static','images/insp-tut3.png')}}' />
			<p>
				Answering those questions can help you get more inspired, while helping us to organize the ideas better
			</p>
			<p><a id="finishInspirationTutorial">Got it!</a></p>
		</div>
		<div class="tasksPanel">
			<p>Look at the following ideas suggested by other users and use them as inspiration.</p>
			<ul id="inspirationPanel" class="loading">
				<li class="selected">
					<div class="loadingBadge"></div>
				</li>
			</ul>
			<div id="inspirationControls" class="first" style="display: none">
				<a class="arrow arrow-left previous" onclick=""></a>
				<span class="stages">0/0</span>
				<a class="arrow arrow-right next" onclick=""></a>
				<a class="btn submit" onclick="submitInspirationTask(event);">Submit</a>
			</div>
		</div>
	</script>

	<script id="tagPickerTemplate" type="text/x-tmpl-mustache">
		<div class="tagWrapper loading">
			<p>
				Pick <strong>at most 2 tags</strong> that best summarize your idea.<br/>
				A tag is usually one word that can be used to categorize your idea.
			</p>
			<div class="panel">
				<div class="tagPicker">
					<input type="text" class="search" placeholder="Filter tags" disabled/>
					<ul class="tags">
						<!-- <li class="t_example">Example</li> -->
						<li><div class="loadingBadge">Loading tags...</div></li>
					</ul>
					<div class="tagPlaceholder empty">
						<span class="text"></span>
						<span class="empty">tag 1</span> 
						<span class="close">x</span>
					</div>
					<div class="tagPlaceholder empty">
						<span class="text"></span>
						<span class="empty">tag 2 (opt.)</span> 
						<span class="close">x</span>
					</div>
					<input type="hidden" name="pickTags" value="" />
					<a class="alternative">None of these tags represent your idea?</a>
				</div>
			</div>
			<div class="panel suggestTags" style="display: none">
				<div>
					<input type="text" placeholder="tag 1" name="suggestTags" maxlength="{{=validation['short_string_max']}}"/>
					<input type="text" placeholder="tag 2 (opt.)" name="suggestTags" maxlength="{{=validation['short_string_max']}}"/>
				</div>
				<a class="alternative"><strong>&lsaquo;</strong> Go back to tag picker</a>
			</div>
			<input type="hidden" name="customTag" value="false"/> <!-- This input reflects whether the user picked a tag or created a custom one -->
		</div>
	</script>
{{end}}

{{block navMenu}}
	<div class="navContainer">
		<div class="navBlock">
			<a id="newIdeaButton" class="btn btn-primary btn-bg" onclick="openIdeaPopup()">
				<img src="{{=URL('static','images/plus-padding.png')}}" alt="New idea"/>
				New idea
			</a>
			<a id="helpButton" class="btn btn-primary btn-bg phase1_bl" onclick="openInspirationPopup()">
				<img src="{{=URL('static','images/lightbulb-padding.png')}}" alt="Get inspiration"/>
				Inspiration
			</a>
			<a id="openViews" class="btn btn-primary btn-bg phase1_bl phase2_bl glowWhite" onclick="openAllViews()">
				<img src="{{=URL('static','images/open-all.png')}}" alt="Open all views"/>
				Open all views
			</a>
			<span id="sessionTimer" class="phase2_bl" title="Countdown before you can see other people's ideas. Try to come up with as many ideas as you can by yourself!">00:00</span>
		</div>
	</div>
{{end}}

{{block rightNavMenu}}
	<div class="share navBlock actionable phase1_bl">
		<a onclick=""><img src="{{=URL('static','images/share-navbar.png')}}"></a>
		<div class="dropDown">
			<p>Link to this brainstorm: </p>
			<input type="text" value="{{=URL(args=request.args, vars=request.get_vars, host=True)}}" readonly>
			<p>
				<a onclick="copyToClipboard(this);"><img src="{{=URL('static','images/copy.png')}}" alt="Copy to clipboard">Copy to clipboard</a>
			</p>
		</div>
	</div>
<div class="navBlock actionable phase1_bl">
		<a onclick="openHelp()"><img src="{{=URL('static','images/help-navbar.png')}}"></a>
	</div>
	<div class="navBlock actionable">
		<img src="{{=URL('static','images/user-navbar.png')}}" alt="{{=user_name}}">
		<div class="dropDown">
			<p>Your username is: </p>
			<p><strong>{{=user_name}}</strong></p>
		</div>
	</div>
{{end}}

{{block overlay}}
	<div class="popupDialog" id="tagsView">
	</div>

	<div class="popupDialog" id="addIdea">
		<span class="close"></span>
		<h2>New idea</h2>
		<form>
			<textarea name='idea' placeholder="Type your idea in here" required maxlength="{{=validation['text_max']}}"></textarea>
			
			<div id="newIdeaTagPicker"></div>

			<a class="btn floatRight submit" onclick="submitNewIdea(event);">Submit</a>
			
		</form>
	</div>

	<div class="popupDialog ideaPopup loading" id="editIdea">
		<span class="close"></span>
		<h2 class="viewElement">View Idea</h2>
		<h2 class="editElement">Refine Idea</h2>
		<p class="editElement">
			Refining an idea by adding more details, fixing issues, etc.
		</p>
		<p class="ideaText viewElement">
		</p>
		<form class="editElement">
			<textarea name='refinedIdea' placeholder="Type your idea in here" required maxlength="{{=validation['text_max']}}"></textarea>
			<input type="hidden" name="tags" />
			<input type="hidden" name="originalId">
		</form>
		<ul class="tags">
		</ul>
		<a class="btn floatRight submit editElement" onclick="submitRefinedIdea(event)">Submit</a>
		<div class="loadingBadge"></div>
	</div>

	<div class="popupDialog" id="inspiration">
	</div>

	<div class="popupDialog" id="combineIdeas">
		<span class="close"></span>
		<h2>Idea Mixing</h2>

		<div class="combineIdeasShowIdeas">
			<p class="ideaBlock"><span></span></p>
			<p class="ideaBlock"><span></span></p>
		</div>

		<div class="choices">
			<p>Choose an action:</p>

			<ul>
				<li class="clickEnabled" onclick="replaceCombineIdeasOptions(event,'merge')">
					<img src="{{=URL('static','images/merge.gif')}}" class="sideImage" />
					<h3>Merge ideas</h3>
					<p>Use this when two ideas are virtually the same. This will eliminate the two ideas in favor of your merged idea.</p>
				</li>
				<li class="clickEnabled" onclick="replaceCombineIdeasOptions(event,'combine')">
					<img src="{{=URL('static','images/combine.gif')}}" class="sideImage" />
					<h3>Combine ideas</h3>
					<p>Use this to combine two different ideas into a new, original idea. This will keep the two ideas and add your new idea. </p>
				</li>
			</ul>
		</div>
		<form class="ideaInput">
			<p> <a onclick="replaceCombineIdeasOptions(event, 'back')">&lt; Back</a> </p>
			<p>Please, write down your <span class='combinationType'></span> idea in the textarea below. Make sure to include as much detail as possible!</p>

			<textarea name="combinedIdeaInput" required maxlength="{{=validation['text_max']}}"></textarea>

			<div class="combinedTagInput"></div>

			<input type="hidden" name="combineTypeInput">
			<input type="hidden" name="combinedIdeaIds">

			<a class="btn floatRight" onclick="submitCombinedIdea(event)">Submit</a>
		</form>

	</div>
{{end}}
