{{extend 'systemlayout.html'}}

{{block page_js}}
	
	<!-- Load JS libraries -->
	<script type="text/javascript" src="{{=URL('static','js/jquery-ui.min.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/jquery.mobile.custom.min.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/goldenlayout.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/mustache.min.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/d3.v4.min.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/jquery.tagsinput.min.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/jquery.validate.min.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/scrollmarker.js')}}"></script>

	<!-- Load styles -->
	<link type="text/css" rel="stylesheet" href="{{=URL('static','css/goldenlayout-base.css')}}" />
	<link type="text/css" rel="stylesheet" href="{{=URL('static','css/goldenlayout-light-theme.css')}}" />
	<link type="text/css" rel="stylesheet" href="{{=URL('static','css/visualizations.css')}}" />
	<link type="text/css" rel="stylesheet" href="{{=URL('static','css/tutorial.css')}}" />
	<link type="text/css" rel="stylesheet" href="{{=URL('static','css/jquery-ui.min.css')}}" />
	<link type="text/css" rel="stylesheet" href="{{=URL('static','css/jquery.tagsinput.min.css')}}" />

	<script>
		// Set up globals
	    var URL = { // URLs
	    	addIdea: "{{=URL('brainstorm','add_idea',request.args(0))}}",
			getTags: "{{=URL('brainstorm','get_tags',request.args(0))}}",
			getAllTags: "{{=URL('brainstorm','get_all_tags',request.args(0))}}",
			checkUpdates: "{{=URL('brainstorm','check_updates',request.args(0))}}",
			// Idea workspace view
			getUserIdeas: "{{=URL('ideaworkspaceview','get_ideas',request.args(0))}}",
	    	getIdeaById: "{{=URL('ideaworkspaceview','get_idea_by_id',request.args(0))}}",
			addToFavorites: "{{=URL('ideaworkspaceview','add_to_favorites',request.args(0))}}",
			// Solution space view
			getSolutionSpace: "{{=URL('solutionspaceview','get_solution_space',request.args(0))}}",
			getIdeasPerCategory: "{{=URL('solutionspaceview','get_ideas_per_tag',request.args(0))}}",
			// Versioning view
			getVersioningStructure: "{{=URL('versioningview','get_versioning_structure',request.args(0))}}",
			// Tasks view
			getAvailableTasks: "{{=URL('tasksview','get_available_tasks',request.args(0))}}",
			submitTask: "{{=URL('tasksview','submit_task',request.args(0))}}"
	    },		
	    ENV = { // Global constants
			userId: "{{=user_id}}",
			userName: "{{=user_name}}",
			autoReloadTimer: 15, // seconds or 'OFF' to disable
			scrollDelay: 500, // Delay before a view scrolls to an idea on hover
			scrollSpeed: 200, // Speed in which the scroll happens,
			classPrefix: 'cl_',
			idPrefix: 'id',
			autoUpdateOrganizationRatioSeconds: 30,
			minNumberTags: 1,
			maxNumberTags: 2,
			newUser: '{{=str(new_user).lower()}}' === 'true',
			doneInspirationTutorial: '{{=str(new_user).lower()}}' === 'true' ? false : true,
			currentPhase: 1, // Keeps track of the current ideation phase
			aloneIdeationTime: 0.1, // Duration of time, in minutes, before other views are opened
			checkUpdateFrequency: 10000 // How often should the system check for new ideas
		},
		EVENTS = {
			popOverClose: [],
			ideaSubmitted: 'ideaSubmitted',
			taskSubmitted: 'taskSubmitted',
			highlightIdea: 'highlightIdea',
			blurIdea: 'blurIdea',
			highlightTags: 'highlightTags',
			blurTags: 'blurTags'
		},
		TEMPLATES = {}, // Mustache templates (dynamically loaded on page load)
		VIEWS = {}, // View objects
		TOOLBAR = {}, // Toolbar event handlers
		COMMON = { // Houses dynamic variables shared across views
			openIdeas: []
		}; 
	</script>

	<!-- Load JS custom code -->
	<script type="text/javascript" src="{{=URL('static','js/golden-layout-config.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/tutorial.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/classes.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/view.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/ideaviewer-view.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/tasks-view.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/versioning-view.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/solutionspace-view.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/util.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/tagpicker.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/system.js')}}"></script>

	<!-- Mustache templates -->
	{{include 'templates/tasks.html'}}
	{{include 'templates/tutorial.html'}}
	{{include 'templates/views.html'}}
	{{include 'templates/core.html'}}

{{end}}

{{block navMenu}}
	<div class="navContainer">
		<div class="navBlock">
			<a id="newIdeaButton" class="btn btn-primary btn-bg" onclick="openIdeaPopup()">
				<img src="{{=URL('static','images/plus-padding.png')}}" alt="New idea"/>
				New idea
			</a>
			<a id="helpButton" class="btn btn-primary btn-bg phase1_bl" onclick="openInspirationPopup()">
				<img src="{{=URL('static','images/lightbulb-padding.png')}}" alt="Get inspiration"/>
				Inspiration
			</a>
			<a id="openViews" class="btn btn-primary btn-bg phase1_bl phase2_bl glowWhite" onclick="openAllViews()">
				<img src="{{=URL('static','images/open-all.png')}}" alt="Open all views"/>
				Open all views
			</a>
			<span id="sessionTimer" class="phase2_bl" title="Countdown before you can see other people's ideas. Try to come up with as many ideas as you can by yourself!">00:00</span>
		</div>
	</div>
{{end}}

{{block rightNavMenu}}
	<div class="share navBlock actionable phase1_bl">
		<a onclick=""><img src="{{=URL('static','images/share-navbar.png')}}"></a>
		<div class="dropDown">
			<p>Link to this brainstorm: </p>
			<input type="text" value="{{=URL(args=request.args, vars=request.get_vars, host=True)}}" readonly>
			<p>
				<a onclick="copyToClipboard(this);"><img src="{{=URL('static','images/copy.png')}}" alt="Copy to clipboard">Copy to clipboard</a>
			</p>
		</div>
	</div>
<div class="navBlock actionable phase1_bl">
		<a onclick="openHelp()"><img src="{{=URL('static','images/help-navbar.png')}}"></a>
	</div>
	<div class="navBlock actionable">
		<img src="{{=URL('static','images/user-navbar.png')}}" alt="{{=user_name}}">
		<div class="dropDown">
			<p>Your username is: </p>
			<p><strong>{{=user_name}}</strong></p>
		</div>
	</div>
{{end}}

{{block overlay}}
	<div class="popupDialog" id="tagsView">
	</div>

	<div class="popupDialog" id="addIdea">
		<span class="close"></span>
		<h2>New idea</h2>
		<p class="problemDescription">{{=problem.description}}</p>
		<form>
			<textarea name='idea' class="ideaInput" placeholder="Write one idea here" required maxlength="{{=validation['text_max']}}"></textarea>
			
			<div id="newIdeaTagPicker"></div>

			<a class="btn cornerRight submit" onclick="submitNewIdea(event);">Submit</a>
			
		</form>
	</div>

	<div class="popupDialog ideaPopup loading" id="editIdea">
		<span class="close"></span>
		<h2 class="viewElement">View Idea</h2>
		<h2 class="editElement">Refine Idea</h2>
		<p class="editElement">
			Refining an idea by adding more details, fixing issues, etc.
		</p>
		<p class="ideaText viewElement">
		</p>
		<form class="editElement">
			<textarea name='refinedIdea' placeholder="Type your idea in here" required maxlength="{{=validation['text_max']}}"></textarea>
			<input type="hidden" name="tags" />
			<input type="hidden" name="originalId">
		</form>
		<ul class="tags">
		</ul>
		<a class="btn floatRight submit editElement" onclick="submitRefinedIdea(event)">Submit</a>
		<div class="loadingBadge"></div>
	</div>

	<div class="popupDialog" id="inspiration">
	</div>

	<div class="popupDialog" id="combineIdeas">
		<span class="close"></span>
		<h2>Idea Mixing</h2>
		<p class="problemDescription">{{=problem.description}}</p>
		<div class="combineIdeasShowIdeas">
			<p class="ideaBlock"><span></span></p>
			<p class="ideaBlock"><span></span></p>
		</div>

		<div class="choices">
			<p>Choose an action:</p>

			<ul>
				<li class="clickEnabled" onclick="replaceCombineIdeasOptions(event,'merge')">
					<img src="{{=URL('static','images/merge.gif')}}" class="sideImage" />
					<h3>Merge ideas</h3>
					<p>Use this when two ideas are virtually the same. This will eliminate the two ideas in favor of your merged idea.</p>
				</li>
				<li class="clickEnabled" onclick="replaceCombineIdeasOptions(event,'combine')">
					<img src="{{=URL('static','images/combine.gif')}}" class="sideImage" />
					<h3>Combine ideas</h3>
					<p>Use this to combine two different ideas into a new, original idea. This will keep the two ideas and add your new idea. </p>
				</li>
			</ul>
		</div>
		<form class="ideaInput">
			<p> <a onclick="replaceCombineIdeasOptions(event, 'back')">&lt; Back</a> </p>
			<p>Please, write down your <span class='combinationType'></span> idea in the textarea below. Make sure to include as much detail as possible!</p>

			<textarea name="combinedIdeaInput" placeholder="Write your idea in here" class="ideaInput" required maxlength="{{=validation['text_max']}}"></textarea>

			<div id="combinedTagInput"></div>

			<input type="hidden" name="combineTypeInput">
			<input type="hidden" name="combinedIdeaIds">

			<a class="btn cornerRight" onclick="submitCombinedIdea(event)">Submit</a>
		</form>
	</div>
{{end}}
