{{extend 'systemlayout.html'}}

{{block page_styles}}
	<!-- Load styles -->
	<!-- TODO combine and minify all files into one and serve them if not in dev. -->
	<link type="text/css" rel="stylesheet" href="{{=URL('static','css/brainstorm/goldenlayout-base.css')}}" />
	<link type="text/css" rel="stylesheet" href="{{=URL('static','css/brainstorm/goldenlayout-light-theme.css')}}" />
	<link type="text/css" rel="stylesheet" href="{{=URL('static','css/brainstorm/visualizations.css')}}" />
	<link type="text/css" rel="stylesheet" href="{{=URL('static','css/brainstorm/tutorial.css')}}" />
	<link type="text/css" rel="stylesheet" href="{{=URL('static','css/brainstorm/jquery-ui.min.css')}}" />
	<link type="text/css" rel="stylesheet" href="{{=URL('static','css/brainstorm/jquery.tagsinput.min.css')}}" />
{{end}}

{{block page_js}}
	<!-- Load JS libraries -->
	<script type="text/javascript" src="{{=URL('static','js/jquery-ui.min.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/jquery.ui.touch-punch.min.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/jquery.mobile.custom.min.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/goldenlayout.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/mustache.min.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/d3.v4.min.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/jquery.tagsinput.min.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/jquery.validate.min.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/scrollmarker.js')}}"></script>

	<script>
		// Set up globals
		var URL = { // URLs
			log: "{{=URL('brainstorm','log',request.args(0))}}",
	    	addIdea: "{{=URL('brainstorm','add_idea',request.args(0))}}",
			getTags: "{{=URL('brainstorm','get_tags',request.args(0))}}",
			getAllTags: "{{=URL('brainstorm','get_all_tags',request.args(0))}}",
			checkTag: "{{=URL('brainstorm','check_tag',request.args(0))}}",
			checkUpdates: "{{=URL('brainstorm','check_updates',request.args(0))}}",
			// Idea workspace view
			getUserIdeas: "{{=URL('ideaworkspaceview','get_ideas',request.args(0))}}",
	    	getIdeaById: "{{=URL('ideaworkspaceview','get_idea_by_id',request.args(0))}}",
			addToFavorites: "{{=URL('ideaworkspaceview','add_to_favorites',request.args(0))}}",
			// Solution space view
			getSolutionSpace: "{{=URL('solutionspaceview','get_solution_space',request.args(0))}}",
			getIdeasPerCategory: "{{=URL('solutionspaceview','get_ideas_per_tag',request.args(0))}}",
			// Versioning view
			getVersioningStructure: "{{=URL('versioningview','get_versioning_structure',request.args(0))}}",
			// Tasks view
			getAvailableTasks: "{{=URL('tasksview','get_available_tasks',request.args(0))}}",
			submitTask: "{{=URL('tasksview','submit_task',request.args(0))}}"
	    },		
	    ENV = { // Global constants
			userId: "{{=user_id}}",
			userName: "{{=user_name}}",
			problemId: "{{=problem.id}}",
			autoReloadTimer: 15, // seconds or 'OFF' to disable
			scrollDelay: 500, // Delay before a view scrolls to an idea on hover
			scrollSpeed: 200, // Speed in which the scroll happens,
			classPrefix: 'cl_',
			idPrefix: 'id',
			autoUpdateOrganizationRatioSeconds: 30,
			minNumberTags: 1,
			maxNumberTags: 2,
			newUser: '{{=str(new_user).lower()}}' === 'true',
			isStudySession: '{{=str(study_session).lower()}}' === 'true', // if true, this is a limited time study session
			doneInspirationTutorial: '{{=str(new_user).lower()}}' === 'true' ? false : true,
			currentPhase: 1, // Keeps track of the current ideation phase
			aloneIdeationTime: 10, // Duration of time, in minutes, before other views are opened
			studyIdeationTime: 15, // Duration of time, in minutes, before the conclusion button opens
			checkUpdateFrequency: 10000 // How often should the system check for new ideas (milliseconds)
		},
		EVENTS = {
			popOverClose: [],
			ideaSubmitted: 'ideaSubmitted',
			taskSubmitted: 'taskSubmitted',
			highlightIdea: 'highlightIdea',
			blurIdea: 'blurIdea',
			highlightTags: 'highlightTags',
			blurTags: 'blurTags'
		},
		TEMPLATES = {}, // Mustache templates (dynamically loaded on page load)
		VIEWS = {}, // View objects
		TOOLBAR = {}, // Toolbar event handlers
		COMMON = { // Houses dynamic variables shared across views
			openIdeas: []
		}; 
	</script>

	<!-- Load JS custom code -->
	<script type="text/javascript" src="{{=URL('static','js/golden-layout-config.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/tutorial.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/classes.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/view.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/ideaviewer-view.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/tasks-view.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/versioning-view.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/solutionspace-view.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/util.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/tagpicker.js')}}"></script>
	<script type="text/javascript" src="{{=URL('static','js/system/system.js')}}"></script>

	<!-- Mustache templates -->
	{{include 'templates/tasks.html'}}
	{{include 'templates/tutorial.html'}}
	{{include 'templates/views.html'}}
	{{include 'templates/core.html'}}

{{end}}

{{block navMenu}}
	<div class="navContainer">
		<div class="navBlock">
			<a id="newIdeaButton" class="btn btn-primary btn-bg" onclick="openIdeaPopup()">
				<img src="{{=URL('static','images/plus-padding.png')}}" alt="New idea"/>
				New idea
			</a>
			<a id="helpButton" class="btn btn-primary btn-bg phase1_bl" onclick="openInspirationPopup()">
				<img src="{{=URL('static','images/lightbulb-padding.png')}}" alt="Get inspiration"/>
				Inspiration
			</a>
			<a id="openViews" class="btn btn-primary btn-bg phase1_bl phase2_bl glowWhite" onclick="openAllViews()">
				<img src="{{=URL('static','images/open-all.png')}}" alt="Open all views"/>
				Open all views
			</a>
			<a id="concludeSession" class="btn btn-primary btn-bg phase1_bl phase2_bl" onclick="concludeSession()">
				<img src="{{=URL('static','images/checkmark.png')}}" alt="Conclude session"/>
				Conclude Session
			</a>
			<span id="sessionTimer" class="phase2_bl" title="Countdown before you can see other people's ideas. Try to come up with as many ideas as you can by yourself!">00:00</span>
			<span id="studyTimer" class="phase2_bl" title="Countdown before you can see other people's ideas. Try to come up with as many ideas as you can by yourself!">00:00</span>
		</div>
	</div>
{{end}}

{{block rightNavMenu}}
	<div class="share navBlock actionable phase1_bl">
		<a onclick=""><img src="{{=URL('static','images/share-navbar.png')}}"></a>
		<div class="dropDown">
			<p>Link to this brainstorm: </p>
			<input type="text" value="{{=URL(args=request.args, vars=request.get_vars, host=True)}}" readonly>
			<p>
				<a onclick="copyToClipboard(this);"><img src="{{=URL('static','images/copy.png')}}" alt="Copy to clipboard">Copy to clipboard</a>
			</p>
		</div>
	</div>
<div class="navBlock actionable phase1_bl">
		<a onclick="openHelp()"><img src="{{=URL('static','images/help-navbar.png')}}"></a>
	</div>
	<div class="navBlock actionable">
		<img src="{{=URL('static','images/user-navbar.png')}}" alt="{{=user_name}}">
		<div class="dropDown">
			<p>Your username is: </p>
			<p><strong>{{=user_name}}</strong></p>
		</div>
	</div>
{{end}}

{{block overlay}}
	<!-- Popups -->
	<div class="popupDialog" id="tagsView"></div>
	<div class="popupDialog" id="addIdea"></div>
	<div class="popupDialog" id="inspiration"></div>
	<div class="popupDialog" id="combineIdeas"></div>
	<div class="popupDialog loading" id="editIdea"></div>
	<div class="popupDialog" id="sessionConclusion"></div>
{{end}}
