<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User model - CrowdMuse</title>

    <link href="https://fonts.googleapis.com/css?family=Concert+One|Lato" rel="stylesheet">
    <link rel="stylesheet" href="{{=URL('static','css/core/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/core/web2py-bootstrap3.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/core/system.compiled.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/user-model.css')}}"/>
    <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

    {{include 'web2py_ajax.html'}}
    <script src="{{=URL('static','js/d3.min.js')}}"></script>
    <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
    <script src="{{=URL('static','js/web2py-bootstrap3.js')}}"></script>
</head>
<body>
    <div>
        <a href="{{=URL('stats','regenerate_models')}}" class="btn">Regenerate models</a>
        <a href="{{=URL('stats','reset_conditions')}}" class="btn">Reset conditions</a>
        <a href="{{=URL('stats','log_out')}}" class="btn">Logout</a>
    </div>
    <div>
    {{for p in problems:}}
        <h2>{{=p.title}}</h2>
        <div class="actions">
            <div>
                <h3>Data</h3>
                <a href="{{=URL('stats', 'download_data?problem=' + str(p.id))}}" target="_blank">User data</a>
                <a href="{{=URL('stats', 'download_logs?problem=' + str(p.id))}}" target="_blank">Log data</a>
                <a href="{{=URL('stats', 'download_ideas?problem=' + str(p.id))}}" target="_blank">Ideas</a>
            </div>
            <div>
                <h3>Manage</h3>
                <a href="{{=URL('stats', 'organize_tags?problem=' + str(p.id))}}">Organize tags</a>
            </div>
        </div>
        <table class="contributors">
            <thead>
                <tr>
                    <th>#</th><th>ID</th><th>Initial Login</th>
                </tr>
            </thead>
            <tbody>
                {{for i,u in enumerate(users_per_problem[p.id]):}}
                <tr>
                    <td>{{=i}}</td>
                    <td><a href="{{=URL('stats','usermodel?problem='+str(p.id)+'&user='+str(u.idea.userId))}}">{{=u.user_info.userId}}</td> 
                    <td>{{=u.user_info.initialLogin}}</td>
                </tr>
                {{pass}}
            </tbody>
        </table>
    {{pass}}
    </div>
</body>
</html>
