<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User model - CrowdMuse</title>

    <link href="https://fonts.googleapis.com/css?family=Concert+One|Lato" rel="stylesheet">
    <link rel="stylesheet" href="{{=URL('static','css/core/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/core/web2py-bootstrap3.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/core/system.compiled.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/user-model.css')}}"/>
    <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

    {{include 'web2py_ajax.html'}}
    <script src="{{=URL('static','js/d3.min.js')}}"></script>
</head>
<body>
    <div id="container">
        <div>
            <h2>User and problem info</h2>
            <ul class="underlined">
                <li><strong>User</strong> {{=user.userId}}</li>
                <li><strong>ID</strong> {{=user.id}}</li>
                <li><strong>Problem</strong> "{{=problem.title}}"</li>
                <li><strong>Condition</strong> {{=model.user_condition}}</li>
            </ul>
            <h2>Basic stats</h2>

            <ul class="underlined">
                <li><strong>Number of ideas</strong> {{=model.count_pair + 1}} </li>
                <li>
                    <strong>Category switching ratio</strong> 
                    {{if model.count_pair > 0:}} 
                        {{='{0:.2f}'.format(model.count_transition_pairs / float(model.count_pair))}} 
                        (i.e. probability of switching to a new category)
                    {{else:}}
                        (there isn't enough information)
                    {{pass}} 
                </li>
                <li><strong>Current category</strong> {{=model.last_cat}} </li>
                <li>
                    <strong>Adjacent categories:</strong> {{=', '.join(model.transition_graph.get_adjacent(model.last_cat))}}
                </li>
            </ul>
        </div>    

        <div>
            <h2>Inferences</h2>

            <ul class="underlined">
                <li>
                    <strong>Next inspiration categories: </strong>{{=', '.join(model.get_inspiration_categories(3))}} (i.e. this is probabilistic, so it may change on refresh)
                </li>
                <li>
                    <strong>Views ordering: </strong>{{=', '.join(model.get_ordered_tags())}}
                </li>
                <!-- <li class="vertical-align">
                    <strong>Inferred categories:</strong>
                    <ol>
                        {{for i in inferred:}}
                        <li>
                            {{='%s (%f) ' % (i[0], i[1])}}
                        </li>
                        {{pass}}
                    </ol>
                </li> -->
                <li class="vertical-align">
                    <strong>Nearest neighbors (distance): </strong>
                    <ol>
                        {{for n in nearest_neighbors:}}
                        <li>
                            <a href="{{=URL('stats','usermodel?problem=%d&user=%d' % (problem.id, n[0].user))}}">{{='%d (%f)' % (n[0].user, n[1])}}</a>
                        </li>
                        {{pass}}
                    </ol>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <h2>Category matrix</h2>

        <table id="category-matrix">
            <thead>
                <tr>
                    <!-- <td class="inferred">inferred1</td>
                    <td class="empty">empty1</td> -->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!-- <td class="inferred">3.2</td>
                    <td class="empty">0</td> -->
                </tr>
            </tbody>
        </table>
    </div>

    <div>
            <h2>Standardized matrix</h2>
    
            <table id="standardized-matrix">
                <thead>
                    <tr>
                        <!-- <td class="inferred">inferred1</td>
                        <td class="empty">empty1</td> -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!-- <td class="inferred">3.2</td>
                        <td class="empty">0</td> -->
                    </tr>
                </tbody>
            </table>
        </div>

    <div>
        <h2>Transition graph</h2>
        <div id="graph-canvas">

        </div>
    </div>

    <div>
        <h2>Actions</h2>
        <table>
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Timestamp</th>
                    <th>More info</th>
                </tr>
            </thead>
            <tbody>
                {{for l in logs:}}
                    <tr class="{{=l.actionName}}">
                        <td>{{=l.actionName}}</td>
                        <td>{{=l.dateAdded}}</td>
                        <td>{{=l.extraInfo}}</td>
                    </tr>
                {{pass}}
            </tbody>
        </table>
    </div>

<script>
    var MODELS = {};
    MODELS.categoryMatrix = JSON.parse('{{=XML(model.category_matrix)}}');
    MODELS.standardizedMatrix = JSON.parse('{{=XML(model.category_matrix.format_standardized_json())}}');
    MODELS.transitionGraph = JSON.parse('{{=XML(model.transition_graph.format_graph())}}');
    MODELS.inferred = JSON.parse('{{=XML(inferred_json)}}');

    // Update category matrix
    var buildMatrix = function(matrix_selector, model){
        var matrixHeader = $(matrix_selector + ' thead tr');
        var matrixBody = $(matrix_selector + ' tbody tr');
        for(var tag in model){
            matrixHeader.append($('<th>'+tag+'</th>'));
            var decimalPlaces = Number.isInteger(model[tag]) ? 0 : 2;
            matrixBody.append($('<td>'+model[tag].toFixed(decimalPlaces)+'</td>'));
        }
    }
    // Build matrices
    buildMatrix('#category-matrix', MODELS.categoryMatrix);
    buildMatrix('#standardized-matrix', MODELS.standardizedMatrix);
    // Add inferred items
    var header = $('#standardized-matrix thead tr');
    var body = $('#standardized-matrix tbody tr');
    MODELS.inferred.forEach(function(d,i){
        var th = $('<th></th>', {
            text: d[0],
            class: 'inferred'
        });
        var td = $('<td></td>', {
            text: d[1].toFixed(2),
            class: 'inferred'
        });
        header.append(th);
        body.append(td);
    });
</script>

<script type="text/javascript">
    // Could try this kind of layout later: http://bl.ocks.org/fancellu/2c782394602a93921faff74e594d1bb1
    
    var w = $('#graph-canvas').width();
    var h = $('#graph-canvas').height();
    var linkDistance=200;

    var colors = d3.scale.category10();

    var dataset = MODELS.transitionGraph;

 
    var svg = d3.select("#graph-canvas").append("svg").attr({"width":w,"height":h});

    var force = d3.layout.force()
        .nodes(dataset.nodes)
        .links(dataset.edges)
        .size([w,h])
        .linkDistance([linkDistance])
        .charge([-500])
        .theta(0.1)
        .gravity(0.05)
        .start();

 

    var edges = svg.selectAll(".edge")
      .data(dataset.edges)
      .enter()
      .append("path")
      .attr("id",function(d,i) {return 'edge'+i})
      .attr({
        'class':'edge',
        'fill-opacity':0,
        'stroke-opacity':1,
        'fill':'blue',
        'stroke':'#CCC',
      })
      .attr('marker-end','url(#arrowhead)')
      .style('markerUnits','userSpaceOnUse')
      .style("stroke-width",function(d,i){ return 1; })
      .style("pointer-events", "none");
    
    var nodes = svg.selectAll("circle")
      .data(dataset.nodes)
      .enter()
      .append("circle")
      .attr({"r":15})
      .style("fill",function(d,i){return '#FFDE78';})
      .call(force.drag)


    var nodelabels = svg.selectAll(".nodelabel") 
       .data(dataset.nodes)
       .enter()
       .append("text")
       .attr({"x":function(d){return d.x;},
              "y":function(d){return d.y;},
              "class":"nodelabel",
              "stroke":"black"})
       .text(function(d){return d.tag;})
       .style("pointer-events", "none");

    var edgelabels = svg.selectAll(".edgelabel")
        .data(dataset.edges)
        .enter()
        .append('text')
        .style("pointer-events", "none")
        .attr({'class':'edgelabel',
               'id':function(d,i){return 'edgelabel'+i},
               'dx':linkDistance-40,
               'dy':-5,
               'font-size':10,
               'fill':'#aaa'});

    edgelabels.append('textPath')
        .attr('xlink:href',function(d,i) {return '#edge'+i})
        .style("pointer-events", "none")
        .text(function(d,i){
            return d.count
        });


    svg.append('defs').append('marker')
        .attr({'id':'arrowhead',
               'viewBox':'-0 -5 10 10',
               'refX':25,
               'refY':0,
               //'markerUnits':'strokeWidth',
               'orient':'auto',
               'markerWidth':10,
               'markerHeight':10,
               'xoverflow':'visible'})
        .append('svg:path')
            .attr('d', 'M 0,-5 L 10 ,0 L 0,5')
            .attr('fill', '#ccc')
            .attr('stroke','#ccc');
     

    force.on("tick", function(){

        edges.attr({"x1": function(d){return d.source.x;},
                    "y1": function(d){return d.source.y;},
                    "x2": function(d){return d.target.x;},
                    "y2": function(d){return d.target.y;},
                    "d": function(d){ return calculateArc(d); }
        });

        nodes.attr({"cx":function(d){return d.x;},
                    "cy":function(d){return d.y;}
        });

        nodelabels.attr("x", function(d) { return d.x; }) 
                  .attr("y", function(d) { return d.y; });

        edgelabels.attr('transform',function(d,i){
            if (d.target.x<d.source.x || 
                ((d.source.x == d.target.x)&&(d.source.y == d.target.y))){
                bbox = this.getBBox();
                rx = bbox.x+bbox.width/2;
                ry = bbox.y+bbox.height/2;
                return 'rotate(180 '+rx+' '+ry+')';
                }
            else {
                return 'rotate(0)';
                }
        });
    });

    var calculateArc = function(d){
        var x1 = d.source.x,
            y1 = d.source.y,
            x2 = d.target.x,
            y2 = d.target.y,
            dx = x2 - x1,
            dy = y2 - y1,
            dr = Math.sqrt(dx * dx + dy * dy),
            // Defaults for normal edge.
            drx = 0, // set to dr to make an arc
            dry = 0, // set to dr to make an arc
            xRotation = 0, // degrees
            largeArc = 0, // 1 or 0
            sweep = 1; // 1 or 0
        // Self edge.
        if ( x1 === x2 && y1 === y2 ) {
            // Fiddle with this angle to get loop oriented.
            xRotation = -45;
            // Needs to be 1.
            largeArc = 1;
            // Change sweep to change orientation of loop. 
            //sweep = 0;
            // Make drx and dry different to get an ellipse
            // instead of a circle.
            drx = 30;
            dry = 30;
            // For whatever reason the arc collapses to a point if the beginning
            // and ending points of the arc are the same, so kludge it.
            x2 = x2 + 1;
            y2 = y2 + 1;
        } 
        return "M" + x1 + "," + y1 + "A" + drx + "," + dry + " " + xRotation + "," + largeArc + "," + sweep + " " + x2 + "," + y2;
    };

</script>

</body>
</html>